[2021-09-09 19:25] mattv8 commented on #213
Next question I have for everyone, if I may ask, is once I have the prototypes debugged and a stock of units for sale, I'm genuinely interested in how much folks would be willing to pay for one? I was thinking about keeping the cost per unit super low, perhaps around $60 per unit, including the 3D printed housing. This by far beats out pricing of any competing tally hardware, the closest competito

[2021-09-09 19:30] mattv8 commented on #213
An ESP8266 or ESP32 could be used in the Lamps togehter the the LED, the battery, some charging circuit and a wireless communication circuit. Maybe a little OLED, too.
@hrueger, I have successfully tested a Raspberry Pi Zero W as a base-station for TallyArbiter and it works great.

I was thinking to take it a step further, the [Orange Pi Zero 2](http://www.orangepi.org/Orange%20Pi%20Zero2/) is tin

[2021-09-09 19:44] hrueger commented on #214
We just create a script which runs after electron-builder in the GitHub Action which adds the  firmware files (maybe precompiled) to the release.

What advantages do you see when using a separate repo? Then, we need to divide issues.

We can release TA without bumping versions of the listener clients, because the script would just use the latest firmware version again and add that to the release.

[2021-09-09 19:49] hrueger commented on #214
This is interesting, I didn't know that you get so many support emails. If we create a server for all our TA stuff (Sentry, maybe some usage stats) we could install Chatwoot (https://www.chatwoot.com/) This would allow other people to provide support, too.

[2021-09-09 19:57] hrueger commented on #213
I don't know if it is helpful, but I've recently created a  an firmware updater for STM32 chips using DFU which is a website running in Chrome or Edge. I can't share it because it is proprietary. However, it was based on WebDFU (https://github.com/devanlai/webdfu). It works great, and is an easy way to reprogram the STM32 when there's no or a broken firmware on the chip.

But I think the hardware

[2021-09-09 19:59] josephdadams commented on #214
I started a user group on Facebook as well. Some have posted questions there, but by and large, people go to my personal blog and email me through the form there. I don't mind, I just don't always have the time to help like they probably want. I personally created this tool to help churches have afford tally, but I get a LOT of emails from event/production companies who use it with their businesse

[2021-09-09 20:15] josephdadams commented on #214
I am running a server on ec2 for tallyarbiter.com but happy to make a dns change if we can get a server running somewhere to do what we want with Sentry and Chatwoot.

[2021-09-09 20:17] hrueger commented on #214
I'd say we finish the big changes in #204 first and then go on with the other ideas?

[2021-09-12 12:03] josephdadams commented on #15
#204 implements this for ATEM streaming/recording

[2021-09-12 18:08] wrldtvlr opened #215 "[Bug]: Listener Timeout"
### What happened?

I'm not sure this is a bug, but we're struggling to understand how the new listener timeout logic is supposed to work. On a typical Sunday, I'll bring up the ATEM in the production room. TA Server and the clients tend to stay up all the time, Power cycling the server is not difficult. The clients are mounted quite high with remote cameras.

Until the listener auto reconnect log

[2021-09-12 18:10] JTF4 commented on #215
And this was never an issue until 2.0.14?

[2021-09-12 18:19] wrldtvlr commented on #215
No... Things were reasonably stable, at least through Sunday. Some, but not all the listeners just disappear from the Settings page.

[2021-09-13 14:50] josephdadams commented on #215
Unless you are running PR #204 there is not any new listener timeout logic. So if you are seeing disconnects, it is your clients dropping their wifi. Otherwise the socket.io library is supposed to keep them alive and connected. It is independent of the individual tally states. Which M5 matrix client are you using? The official TA one?

[2021-09-13 14:50] josephdadams commented on #215
Also do they reconnect to the TA server or do they stay disconnected?

[2021-09-13 15:35] wrldtvlr commented on #215
Yes, we are using Matrix client from TA. Only mod is to add static addresses. Entirely possible problem is on our end. I'll investigate further.

[2021-09-15 21:56] josephdadams opened #216 "[Discussion] Language Support"
I don't fully know what I am asking for when I say this - but what would it take for Tally Arbiter to support multiple languages for the UI other than English? Is this even a desirable feature or just a niche ask?

[2021-09-15 21:59] josephdadams commented on #216
Localization. That's the word I was thinking of.

[2021-09-16 04:27] hrueger commented on #216
Its not that complicated: https://angular.io/guide/i18n

[2021-09-18 23:30] josephdadams commented on #216
Cool. Well I’ll just leave this here until someone asks for it.

[2021-09-18 23:41] wrldtvlr commented on #215
Ok, this is a first. We have lots of Matrix modules, but this is the first time we've had one fail. Loaded a spare and it worked fine with 2.0.9 and 2.0.14.

Strange failure mode - just seems to affect the WiFi function.

[2021-09-18 23:41] #215 closed

[2021-09-19 00:22] josephdadams commented on #215
@JTF4 maybe the same problem we are having with ours?

[2021-09-19 03:48] JTF4 commented on #215
Possibly. What kind of access point are you using @wrldtvlr?

[2021-09-19 10:03] wrldtvlr commented on #215
Rukus650. I'll try the Matrix at home with an Asus router when I have a chance.

[2021-09-20 12:29] jjmmfi opened #217 "[Bug]: editing device source produces error"
### What happened?

When I change settings on TallyArbiter I have gotten many error messages. One time the error came when I was trying to save settings I made and it did not save them. One time I guess it saved. I have just tested this app on 2 days. When I go to the report error page and press open a bug report, it gives me GitHub bad request: "Whoa there!
Your request URL is too long." It is fr

[2021-09-20 12:38] jeremiasmanninen commented on #217
[TALLY_ERRORS.zip](https://github.com/josephdadams/TallyArbiter/files/7195726/TALLY_ERRORS.zip)
Here is the whole TallyArbiter folder on a zip file, that contains all the error logs I got.

[2021-09-20 12:49] hrueger commented on #217
Thanks for the error report. The not working bug report has been tracked in #187 , however, we haven't created a new release since then.

I've stumbled accross that problem, too, especially when developing. @MatteoGheza do you have time to fix that? I think we should
 (a) not show this warning when development mode is detected (`NODE_ENV` environment variable set to `development` and
 (b) only sho

[2021-09-20 22:07] josephdadams commented on #217
I would venture to say it's already fixed in the new upcoming branch or will be once we refactor that section of device-source assignments/mappings due to the new bus options coming. A workaround until that major refactor is released would be to just delete the device-source and recreate it.

[2021-09-26 13:44] eicdw opened #220 "TSL3.1 UDP > TSL5 UDP"
Two minor issues, and forgive me if I am mistaken about either.

1. TSL3.1 UDP into Tally Arbiter parses green tallies as red and red as green.
The TSL3.1 source is an Image Video TSI. It shows that it's outputting the correct colors to Arbiter, but in Arbiter,red/green are inverted. I can work around this by inverting the actions I send to the MV (in this case, an EVS XT-VIA's internal multiviewe

[2021-09-26 20:47] josephdadams commented on #220
What bus does amber represent?

[2021-09-26 20:51] josephdadams commented on #220
Also, are you mostly just trying to use Tally Arbiter as a TSL3.1<>TSL5.0 converter?

[2021-09-26 21:03] eicdw commented on #220
First, love the software. It's great to see TSL being implemented in a way
that doesn't involve licenses. I'm excited to see how you develop it
further.

Amber tally doesn't necessarily represent a bus...   It's often used for
external tallies that come from sources outside a truck. For example, if we
have two trucks parked next to each other, we will use amber tallies to
show when the other truck

[2021-09-26 21:03] eicdw commented on #220
Yes. I'm basically trying to tally EVS's built in multiviewers on trucks
that don't have a TSL5 license in Image Video.

David Williams - EIC 45FLEX
Mobile TV Group
618-655-9937 (c)

On Sun, Sep 26, 2021 at 3:51 PM Joseph Adams ***@***.***>
wrote:

[2021-09-27 11:41] josephdadams commented on #220
This is helpful. I am basing the tsl3.1 PVW/PGM states based on the Ross implementation of the protocol, but we could possibly add a swap feature in the config to swap those bits.

You might be better suited with a direct translator program that just converts between 3.1 and 5. Would be less to manage overall if you’re not needing specifically DIY tally of some kind. Im available for hire to creat

[2021-09-27 15:01] crazytechkid opened #221 "[Feature Request]: Sound on State Change"
### What feature would you like to see added to TallyArbiter?

I was wondering if you were planning on adding a sound to play when the state changes. Like when a camera goes to preview the webpage will say like preview or make a noise. I would like this because I cant really mount my phone to my camera but if I could put in a pair of headphones and hear when my tally goes, it could make my life a

[2021-09-27 15:36] JTF4 commented on #221
It's definitely possible. I'll add it to a list of things to consider for version three￼. There will be a little more code involved than you think though because we have to create a audio transfer and handler function in the web UI. ￼
￼￼

[2021-09-28 01:06] josephdadams commented on #221
@crazytechkid If you want to fork the project and add this feature, I think it’s a great idea! You’re personally motivated to make it work, and it will be a great way to learn! 😃

[2021-09-28 01:07] josephdadams commented on #221
@JTF4 Orator, one day 😃

[2021-09-28 01:23] JTF4 commented on #221
Very true!

[2021-09-29 07:27] MatteoGheza opened #222 "[discussion] Preparing for Hacktoberfest"
I think we can prepare this repo for Hacktobest2021, because it can attract new contributors helping us fixing issues and implementing features.

[Official Hacktoberfest 2021 website](https://hacktoberfest.digitalocean.com/)

Doing this, we can continue to contribute as usual (according to school/work), besides, if you open at least 4 PR that receives the "hacktoberfest-accepted" label, you can ge

[2021-09-29 07:41] MatteoGheza commented on #217
I have a new idea for implementing bug reports (sending data compressed with LZMA-JS to the browser and then using GitHub Actions for de-compressing them when a new issue appears to have compressed data).
I already have a working PoC, but this week I don't have time to improve this.
I'll work on this ASAP.
Regarding the error popup, I'll work to improvements requested by @hrueger ASAP.

[2021-09-29 12:22] josephdadams commented on #222
I think participating is a great idea. I’m not sure merging #204 is a good idea yet because we have a lot of todos and tests for the various source types that still need doing. But if we can capture all that info and put it somewhere, then I’m open to the merge. Or whatever you think is best. It would be great to see more contributors. 😃

[2021-09-29 15:32] hrueger commented on #222
What if we merge #204 and release this as a beta version? This way, users who want to try the new features can do that, but the autoupdater wont download the release itself.
We may need to update the action to support beta versions, I don't quite know.

[2021-09-29 16:51] MatteoGheza commented on #222
I think that releasing a beta version with #204 is a good idea.
Electron Autoupdater should skip releases marked with "pre-release", so we don't need to update the Action for this, but I haven't tryied yet.

[2021-10-01 21:30] bdocrobot opened #223 "[Bug]: Continuous Reconnect after deleting source"
### What happened?

I was doing some testing, and I added an instance of a BMD Atem, and I was monitoring the logs on a raspberry pi.  Since I didn't have a device for it to connect to at the moment, it started a reconnecting loop which is what I expected.  However, when I deleted the BMD Atem instance, the loop continues to run.  That I didn't expect.

### Version

2.0.14

### Distribution

CLI

[2021-10-02 02:21] josephdadams commented on #223
Pretty sure we fixed this in 3.0 which is not yet released

[2021-10-05 14:54] MatteoGheza commented on #222
@josephdadams can you add "hacktoberfest" topic to this repository?

https://user-images.githubusercontent.com/27729549/136047704-dd0d0f49-13ec-4191-95c3-9f2711740064.mp4

[2021-10-05 14:59] MatteoGheza opened #224 "TODOs for v3.0.0 (Typescript Refactoring)"
## Sources
<table>
<thead>
  <tr>
    <th>Source<br></th>
    <th>Status<br></th>
    <th>Tested by</th>
	<th>Issues</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Analog Way Livecore</td>
    <td>🧪 needs testing</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Blackmagic ATEM</td>
    <td>✔ Working</td>
    <td>@hrueger</td>
    <td>
	  ✔ Initial state is not loaded<br>
      ✔ Flickering<br

[2021-10-06 10:52] videojedi opened #226 "Tsl client updates during Atem transition"
Hi folks.
I've noticed during an Atem transition, the TSL client output is continually updated rather than just a message at beginning and end of transition.

Also seems to causes the TA gui some issues.

I've implement an ignore duplicate packet in my downstream applications. Could the same be the answer for the Atem routine in TA?

RB

[2021-10-06 13:00] hrueger commented on #226
Hi @videojedi ,
We'll soon ship a beta of version 3.0.0. Your issue is probably fixed there.

[2021-10-06 22:37] josephdadams commented on #222
@MatteoGheza done

[2021-10-10 18:30] #107 closed

[2021-10-10 18:30] #208 closed

[2021-10-10 18:30] #212 closed

[2021-10-10 18:30] #180 closed

[2021-10-10 18:57] josephdadams commented on #188
@MatteoGheza can close?

[2021-10-10 19:00] josephdadams commented on #90
@hrueger did this fix make it into the refactor?

[2021-10-10 19:28] hrueger commented on #90
I think so, but I'm not sure. I think @MatteoGheza has been working on that.

[2021-10-10 19:46] MatteoGheza commented on #110
Yes, it should be fixed.

[2021-10-10 19:47] MatteoGheza commented on #214
Doing this in #225

[2021-10-10 21:41] josephdadams commented on #22
I am going to close this since we support both streaming and recording status from several source types.

[2021-10-10 21:41] #22 closed

[2021-10-10 21:42] #15 closed

[2021-10-10 21:43] josephdadams commented on #221
@crazytechkid did you ever get it working? I noticed you forked and tried.

[2021-10-10 21:44] crazytechkid commented on #221
im working on it. chrome really doesnt like autoplaying audio through a browser

[2021-10-10 21:46] josephdadams commented on #221
Yeah. Look into the `Howler` js library: https://github.com/goldfire/howler.js

[2021-10-10 22:34] josephdadams commented on #221
put them in `/UI/src/assets/` and then in your HTML you can reference them as `assets/audio.mp3`.

[2021-10-10 23:12] josephdadams commented on #221
Feel free to submit a PR to the main repo when you get it polished up. A toggle switch to either play sounds or not play sounds would be nice.

[2021-10-10 23:14] crazytechkid commented on #221
i see. I will get to it when I get to it, but right now since I will always have the audio on its not top priority for me

[2021-10-10 23:20] #221 closed

[2021-10-11 07:51] MatteoGheza opened #228 "[Feature Request]: Detect ATEMs in network using Bonjour"
### What feature would you like to see added to TallyArbiter?

I think that we can use Bonjour (already installed for advertising TallyArbiter to the network) to detect Blackmagic Atem:
Example:
[code]

[2021-10-11 17:52] MatteoGheza opened #229 "[Feature Request]: Improve release notes pages in Electron"
### What feature would you like to see added to TallyArbiter?

TODO: improve update box and release notes page in Electron.

[2021-10-12 12:45] MatteoGheza commented on #174
I'll leave this open until #228 is closed.

[2021-10-15 10:49] mg-1999 opened #231 "[Feature Request]: Create (Hidden) Access Point for Embedded server. (Like Orange Pi Zero, Pi Zero W)"
### What feature would you like to see added to TallyArbiter?

I would like to run the TA server on an embedded system that is just set and forget for the Tally Clients. Any idea on how to start on that? I've looked at creating a AP in the Node.js app, but I dont know how to route the webserver from TA to the AP.

The flow would be something like this:
Connect TA via Ethernet where it can find the

[2021-10-15 14:38] mg-1999 commented on #231
Orange Pi is just like the Raspberry Pi build on an arm platform. The upside of the orange pi zero 2 is that it has an Ethernet and a wifi chip onboard. And the wifi chups use an external antenna. That's hopefully good of range of the AP.

If you need any help I'm open to work on it as well

[2021-10-16 22:41] #229 closed

[2021-10-17 00:25] zackdickinson16 opened #233 "Support For Blackmagic Camera Tally Through Arduino And Blackmagic 3G-SDI Arduino Shield"
### What feature would you like to see added to TallyArbiter?

I'm looking for a way to use TallyArbiter with Arduino And Blackmagic 3G-SDI Arduino Shield to trigger the tally lights on black magic cameras such as the (Blackmagic Studio Camera 4K Pro), I need this because I'm using TriCaster and I'd like the built in tally lights to work on the cameras with TriCaster.

I'm guessing the Arduino wou

[2021-10-17 02:52] JTF4 commented on #233
@josephdadams and I were looking at building this listener. Our biggest problem is that we don't have the hardware to develop with.

One thing I would say is that I would use the raspberry pi hat before the arduino one. The raspberry pi will give you native Ethernet.

Ill have a look at everything tomorrow and see what I can do though.

[2021-10-17 03:05] zackdickinson16 commented on #233
Let me know if I can help test anything with the hardware, Black magic Arduino code is pretty simple just high or low for light on or off and true or false four red or green. Of course that's probably not the hard part,

I was having a hard time figuring out how to integrate TallyArbiter I'm guessing it with WebSocketsClient.h,
,SocketIOclient.h and Arduino_JSON.h but I don't know whole lot about

[2021-10-17 03:53] JTF4 commented on #233
You're right! I thought they had one.

Do you have a picture of your setup that you could send me for reference of your setup?

[2021-10-17 04:09] zackdickinson16 commented on #233
![IMG_2153](https://user-images.githubusercontent.com/57646814/137610741-b2068ecb-005a-428b-8164-85729855cbc9.jpg)
![IMG_2155](https://user-images.githubusercontent.com/57646814/137610744-3d81ce4a-e27d-47e5-bb4a-e9e0d71dda55.jpg)
![IMG_2160](https://user-images.githubusercontent.com/57646814/137610746-3ff3cbeb-8e64-4dc4-be69-9a6461264137.jpg

https://user-images.githubusercontent.com/57646814/1376

[2021-10-17 09:22] josephdadams commented on #233
I actually prototyped the code for this over a year ago. Never had the hardware to test on. I may not have kept it but I’ll dig around and see if I can find it. It will need refreshing anyway in light of our 3.0 architecture. Personally rather than implement a listener client per se I would create a program on the Arduino that subscribed to all tally information, similar to how we implemented VMix

[2021-10-17 10:18] MatteoGheza commented on #233
@JTF4 if you want to use REST api/UDP/etc let me known and I'll implement this in backend.
BTW, can you take a look at #225 since I don't have M5Stackc or M5Atom to test the updated firmware?

[2021-10-17 10:21] JTF4 commented on #233
@MatteoGheza yep! Do you think we could build a rest based api that allows for device reassigns from the main server? If we could do that, then I think we would have a great protocol for devices that don't play as well with socket.io

[2021-10-17 10:23] MatteoGheza commented on #233
I'm working on a new REST API.

[2021-10-17 11:02] hrueger commented on #233
How would we push new tally data to a listener client with REST? Does the Device do polling or are we using something like [SSE](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events)?

[2021-10-17 12:01] #179 closed, assigned to MatteoGheza

[2021-10-17 13:29] JTF4 opened #236 "Enabling discussions"
@josephdadams can we enable discussions on this repo? I think that it would be nice to have for general conversations about features and development, whereas currently we create new issues when we want to discuss something.

[2021-10-17 13:39] JTF4 commented on #231
I would love to setup images that can easily be deployed to an orange pi, however by biggest issue is that I don't have an orange pi to develop the image on.

How fast do you want this feature implemented?

[2021-10-17 13:59] #236 closed, assigned to josephdadams

[2021-10-17 14:18] hrueger commented on #231
I have a few ideas but no time to implement that.

I suggest we add a new Tab to the settings page which is named "Network". There we can show some useful information like what network interface TA is running on.
Then, we could add a "WiFi" or "WLAN" section there with a switch to set the mode: "AP" or "Client".

In AP Mode (only available on Raspberry Pi and the default mode there) we'd create an

[2021-10-17 15:17] josephdadams commented on #231
I like the ideas, I just think it's really niche. I wouldn't spend time on it unless under great personal motivation before solving other issues that will affect and benefit more users.

[2021-10-17 15:35] #216 closed

[2021-10-18 12:20] #209 closed

[2021-10-18 20:51] JTF4 commented on #233
If I had to guess it's in error in one of the included libraries and not your direct code. I would start by looking at the actual code contents of the Black Magic library and seeing if it includes that.

[2021-10-18 21:01] zackdickinson16 commented on #233
I'm pretty sure it's the SocketIoClient.h Library?, but I'm not very good at this stuff so I wouldn't have a clue.

[2021-10-20 16:55] crazytechkid opened #246 "Listeners Wont Connect"
I open the webpage with the QR code and it just times out. It says an unexpected error occurred. All of the devices are on the same network and the tally works as normal, I just can't connect with my phone. Any ideas?

Using a MacBook Pro laptop and apple phones with an ATEM Mini extreme

[2021-10-20 18:19] crazytechkid commented on #246
I am using the local IP that I get assigned from the network

[2021-10-20 19:26] hrueger commented on #246
Can you try to ping the Mac from another computer on the same network? Open a terminal there and type `ping 192.10.1.157` or whatever your IP is.

If that succeeds, we know that the network works. In that case it is probably an issue of TA. If the ping fails, something with your network / firewall? is wrong.

[2021-10-25 00:12] dbussert opened #251 "[Bug]: Docker config volume mounting is incorrect"
### What happened?

The docker installation instructions are incorrect because they do not map the config file at the right location. The default config path is different on each OS, but the docker instructions are not correct for any of them (as seen in the docs screenshot below).

![image](https://user-images.githubusercontent.com/2479487/138617949-8de5a8d6-49ce-47a0-84c8-c5fc4ea5ec66.png)

The

[2021-10-25 22:55] #246 closed, assigned to nobody

[2021-10-27 05:55] #251 closed, assigned to JTF4

[2021-10-27 21:10] josephdadams opened #253 "[Feature Request]: rename master branch"
### What feature would you like to see added to TallyArbiter?

I want to rename the master branch to `main`.

Any opposition to this? Fine if we wait until we are done with these big PR’s.

[2021-10-27 21:26] #253 closed, assigned to JTF4

[2021-10-27 22:01] IvorOrr opened #255 "[Bug?] TSL5.0 Actions not working with Panasonic PTZ Tally or TallyView"
According to Panasonic's release notes for firmware version 2.62, the AW-UE150 should support TSL5.0 (https://eww.pass.panasonic.co.jp/pro-av/support/content/download/EN/ep2main/soft/ue150/0262_ue150.htm).
We're trying to use this feature, but so far to no avail.
The cameras are up to date and fully functional. Tally is enabled and can be activated by AW commands over IP.
Although I captured the U

[2021-10-28 22:55] mg-1999 opened #256 "[Bug]: Button glitch, testmode v3"
### What happened?

When using the testing mode in v3 and you leave it on. Refresh the page, the button state is back to the 'turn on' text while the test mode is still running.

### Version

v3 beta

### Distribution

CLI

### OS

Linux

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

_No response_

### TallyArbiter configu

[2021-10-29 15:01] Jassi10000 opened #258 "[Feature Request]: Add a Github Action"
### What feature would you like to see added to TallyArbiter?

I want this feature!

This is an awesome and an engaging repository , plus due to hacktoberfest'21 many open source enthusiasts ( preferably students who are first time contributors ) open issues and PRs which eventually help repo to grow
I think there should be a github action to welcome contributors on their each issue and PR so as t

[2021-10-29 15:49] Jassi10000 opened #259 "[Feature Request]: Add CODE OF CONDUCT"
### What feature would you like to see added to TallyArbiter?

I want this feature!

@JTF4
Sir , I was planning to refer to CODE OF CONDUCT while a new contributor reaches your repo and makes an issue or a PR
But I didn't found it in the repo
Can I add that In the repo to complete my github action

Please assign me

[2021-10-29 19:52] JTF4 commented on #256
I am working on this right now.

[2021-10-30 00:30] JTF4 commented on #256
#263 addresses this

[2021-10-30 02:13] #256 closed

[2021-10-30 05:25] #259 closed

[2021-10-30 05:25] #258 closed

[2021-11-02 13:20] curiositize opened #268 "[Feature Request]: Make preview/green to be enabled/disabled"
### What feature would you like to see added to TallyArbiter?

I there!

Thanks for all the work!

I have a (maybe) little request. In Germany preview/green is not that common. Also in corporate environments even red tally is hard for some talents.. So I'd like to be able to disable preview/green in TallyArbiter completely and of course enable it depending on the event type.

Hope that others find

[2021-11-02 13:23] JTF4 commented on #268
Hey @curiositize! I believe that this is coming in V3. We will have customizable colors for each state and you should be able to just change the preview state to black so a light will not turn on.

[2021-11-02 13:32] curiositize commented on #268
Hello @JTF4! That sounds awesome! Looking forward to it! Thanks for the quick reply!

[2021-11-02 19:46] josephdadams commented on #268
Yes, once we release all the updated listener clients that are compatible with v3.0 and you upgrade everywhere, you'll be able to do this.

[2021-11-03 17:11] blakecarrasco commented on #191
Just wanted to let you guys know that this update worked well, and our tally system had no issues during production.  I appreciate the help. Thanks.

[2021-11-05 15:15] #169 closed

[2021-11-12 20:26] semenovnick opened #274 "[Feature Request]: LivePro L1 or RGBLink mini hdmi switcher"
### What feature would you like to see added to TallyArbiter?

Hello. I asked manufacturer for API, and he send me this document:
[API(EN).pdf](https://github.com/josephdadams/TallyArbiter/files/7530086/API.EN.pdf)
Here is enought information to control switcher but it is not all info.
I start to reverse ingeneering communication protocol between desktop app and switcher and results are:
As mentio

[2021-11-12 21:03] JTF4 commented on #274
I think it would be pretty straight forward to implement this as it's just a relatively simple hexadecimal protocol. The tally par is still a little unclear to me, so it may require a few iterations to make it work.

Would you be open to a remote coding session where I remote into a computer on your network with the switcher and do some reverse engineering of my own?

[2021-11-12 21:15] semenovnick commented on #274
Ok, tomorrow i'll try to make more detailed file from wireshark session

[2021-11-13 03:02] JTF4 commented on #274
Best thing you could do is make a pcap file thats filtered to the switcher for each input and switch through the states. That would let me create the integration.

[2021-11-13 08:50] semenovnick commented on #274
Hello. Here is three different wireshark cap files
01 - t-bar-mode - open desktop app => enter switcher view => switching the inputs on the switcher by moving t-BAR (preview => live)
02 - fast (autocut) mode switching 1-2-3-4 - open desktop app => enter switcher view => switching between 1-2-3-4 inputs (no preview)
03 - t-bar mode manual inquiry - i am manually send udp <T0000f14001000032>
message

[2021-11-13 13:25] JTF4 commented on #274
Awesome! Would you be able to do one more with tally?

[2021-11-13 13:36] semenovnick commented on #274
After T0000f14001000032 command to mixer. Mixer send back two packets
1 response  F0000f14001160048
And
2 tally data:
It's in that packet
![image](https://user-images.githubusercontent.com/23644553/141645681-a0e5e257-1a9e-4bb5-9bb4-e82639aee814.png)
![image](https://user-images.githubusercontent.com/23644553/141645788-35b40afa-06f5-46eb-94a7-0fd5394e0884.png)

0301010101010100000000000000000000010

[2021-11-13 13:46] semenovnick commented on #274
To send to mixer T-Bar movement you should send sequence of commands

T 00 00 78 00       00 02 00       7a> - initiation of T-Bar movement
T 00 00 78 08       03 00 00       83> - set zero position
////// here is commands with numbers between 03 00 to 00 04 second byte is higher
T 00 00 78 08       00 04 00       84> - set end position
T 00 00 78 00       00 04 00       7C> - end of t-bar movent

[2021-11-13 15:55] JTF4 commented on #274
Ok. The tally protocol is starting to make sense. Can you do one more pcap where you go through and put input 1 in preview then program, input 2 to preview then program, input 3 preview then program, then input 4 preview then program?

I think after that I should have all the data I need to make a module for it.

[2021-11-13 16:16] semenovnick commented on #274
https://disk.yandex.ru/d/rozNraLEAhDajA

Here it is.
My actions are:
1 (pgm) 2 (prv) => t-bar => 2 (pgm) 1 (prv) => 2 (pgm) 3 (prv) => T-bar =>  3 (pgm) 2 (prv) => 3 (pgm) 4 (prv) => T-bar =>  4 (pgm) 3 (prv)  =>  4 (pgm) 1 (prv) => T-bar =>  1 (pgm) 4 (prv)

[2021-11-21 16:13] HannuFin opened #279 "[Feature Request]:"
### What feature would you like to see added to TallyArbiter?

Hi! It would be really nice on the Atem if one could monitor more MEs, at least the Mic 1&2, this would be great in some cases.

[2021-11-22 21:43] mg-1999 commented on #279
This feature is already in the latest version. When you add an atem switcher you can choose which ME to monitor. If you mean something else, please specify further

[2021-11-23 00:09] josephdadams commented on #279
I think he wants to use tally lights to signal mute status of his audio sources

[2021-11-23 06:55] HannuFin commented on #279
Hi! Yes, I mean for example the mic status, recording status, maybe even stream status... Someone could easily build an "on air" sign that works from this :)

[2021-11-23 16:34] hrueger commented on #279
Some of those features are already available. You should be able to use the addresses `{{STREAMING}}` and `{{RECORDING}}` just like any other camera address.

Can you provide like a list of features you would like to see? I don't completely understand how you talk about MEs and then about microphones ;-)

[2021-11-25 13:33] #168 closed

[2021-11-26 16:33] josephdadams commented on #224
@MatteoGheza @hrueger @JTF4 anything major left on this list we should address?

[2021-11-26 16:41] JTF4 commented on #224
I think the only thing we really need is a tsl5 test, but we don't have a tsl5 system. So the best way to test it would probably just be releasing it.

[2021-11-26 16:42] hrueger commented on #224
I agree 👍

[2021-11-26 16:45] josephdadams commented on #224
That's fine with me. It's more or less the same code there that we had before, so if someone has a problem, we can help resolve it.

[2021-11-27 03:54] JTF4 commented on #224
Did we verify cloud functionality?

[2021-11-27 07:03] pouarakas opened #283 "[Bug]: ESP-32 not detected"
### What happened?

Hi,

I'm trying to connect an ESP32 neopixel as a listener, but the connexion seems to fail.

The DeviceId stays unassigned and no listener is detected in app and nothing in logs.

Win10 app, not tried with other distrib.

Thanks

### Version

2.0.16

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

Firefox

### If applicable, What L

[2021-11-27 09:08] hrueger commented on #224
I don't think so, at least I did not.

[2021-11-27 16:25] josephdadams commented on #283
Thank you for submitting this. I’ve received many reports of this same problem. Perhaps we’ve fixed it in 3.0 @MatteoGheza ?

[2021-11-27 16:41] MatteoGheza commented on #283
Yes, we re-implemented listener connection and deviceID assignment.
@pouarakas what version of Listener Client are you using? When you updated it the last time?
Maybe you are running the latest listener client firmware version (that you can find in this repository) with an old version of TallyArbiter, which is incompatible with new firmware.

[2021-11-27 18:43] pouarakas commented on #283
Hi, I use all the latest versions available.
I tried this morning checking for latest updates and reinstalling the desktop version.

[2021-11-27 19:04] JTF4 commented on #224
If we verify that cloud works, then I think that we would be good for a release

[2021-11-27 19:07] josephdadams commented on #224
Easy to test, just need two installs

[2021-11-27 20:01] JTF4 commented on #224
@josephdadams im working on that now.

@MatteoGheza What would you think about merging your new authentication system before we release?

[2021-11-27 20:21] MatteoGheza commented on #224
@JTF4 I released a beta because someone needs it. I think that we can release 3.0.0 as beta and 3.1.0 as stable (with new login system).

[2021-11-28 02:59] JTF4 commented on #224
I spun up two instanced of TA and when I try and connect them across the cloud, the destination instance freezes with no indication of what went wrong.

[2021-11-28 09:29] hrueger commented on #224
Maybe we get some kind of infinite loop?

[2021-11-28 12:57] premultiply commented on #279
The ATEM has separate Tally logic for video ME and the internal audio mixer.
Means that you can have an input enabled for audio mixing which may not currently selected on video ME and vice versa.
Only if audio-follows-video mode is selected for a specific input video and audio tally should be the same.

Audio mixer tally is provided by `AMTl` feedback.
https://github.com/petersimonsson/libqatemcon

[2021-11-28 13:54] JTF4 commented on #224
That would explain it. I'll look at the connection process

[2021-11-29 20:11] MatteoGheza opened #285 "Error: Cannot find module '../dist/index.js'"
Hmmm... Tried npm updating on a Pi, then removing and reinstalling. After install, when running I get the same error both ways. That is: Error: Cannot find module '../dist/index.js'

Looking around /usr/lib/node_modules/tallyarbiter, there is no dist directory

It's possible there is cruft from a previous install, but I'd like to avoid rebuilding the Pi.

_Originally posted by @wrldtvlr in https:/

[2021-11-29 20:24] #285 closed

[2021-11-29 21:25] MatteoGheza opened #287 "[Bug]: Fix TTGO build"
### What happened?

TTGO Github Actions builds works, but without the display.
I'm working on an automated path for TFT_eSPI lib.

### Version

v3.0.1

### Distribution

Desktop

### OS

Linux

### What browsers are you seeing the problem on?

Chrome

### If applicable, What Listener Clients are You Using?

_No response_

### TallyArbiter configuration

_No response_

### Relevant log output

_No

[2021-11-29 21:30] WaltherWhite opened #288 "[Bug]: Listener Device ID Unassigned"
### What happened?

Hey all,

After flashing my M5Atom with the pre-built listener image (v3.0.1) and configuring it, it connects to both the wifi network and Tally Arbiter, but it does not get a Device ID, doesn't show up as a listener in TallyArbiter and doesn't respond to input changes on my ATEM. An M5StickC-plus that runs some older build-it-yourself Arduino code works without any problems (d

[2021-11-29 21:36] MatteoGheza commented on #288
Which Tally Arbiter server version are you using?

[2021-11-29 21:48] WaltherWhite commented on #288
I'm running 2.0.16

[2021-11-29 21:55] MatteoGheza commented on #288
New listener client firmware version is incompatible with new version. Please update your server to the latest beta (download it from releases) or downgrade your listener until we release v3.0.0 stable.

[2021-11-29 21:55] #288 closed

[2021-11-29 21:57] WaltherWhite commented on #288
That... Makes an awful lot of sense. Thank you for your quick response!

[2021-11-29 22:34] MatteoGheza commented on #283
Same as #288
Please try using our new beta release (v3.0.1) or downgrade you listener client version.

[2021-11-29 22:34] #283 closed

[2021-11-29 23:23] josephdadams commented on #287
I noticed for the atom builds, and I assume it’s the same for all the esp variants, it comes hard coded with a TA server IP of 192.168.0.110 or something. Which then gets compiled into the binaries we offer for download. This makes them not too useful, right?

[2021-11-29 23:37] MatteoGheza commented on #287
Yes, hard-coding the host is useless.
I think that we can replace host setting page with MDNS discovery (or leaving it as "manual setting mode" but adding MDNS).
I'll remove hard-coded IPs when I finish working on flashing devices from UI.

[2021-11-29 23:44] josephdadams commented on #287
I like what some of the other various esp projects do where they run either a captive portal or a separate SSID on first boot where you can then put in all this config info. MDNS is good. I also anticipate where I might want the device on wifi but connecting to my cloud instance of TA where MDNS would not apply. So the field needs to support both IP and domain name.

[2021-11-30 08:22] mg-1999 commented on #287
The Atom builds do have a captive portal at the moment, when it can't find the ssid to connect to it will startup an AP where you can change the settings

[2021-11-30 11:51] mg-1999 commented on #268
Version 3.0.0 has been released. Could you try it out and let us know if this the behaviour you expect?

[2021-12-01 18:57] wrldtvlr opened #291 "[Bug]: M5 Atom Matrix Colors Reversed"
### What happened?

When displaying preview, the web interface shows green as expected, but the M5 shows red. Likewise, for program the web shows red, but the M5 shows green.

Looking at the code, it assumes M5.dis.drawpix write color order is rgb. It's actually grb. Tested locally and it works fine. I'll submit a code change. Note probably also explains why I was seeing lavender as the default co

[2021-12-01 20:42] josephdadams commented on #291
Thanks for fixing!

[2021-12-01 20:43] #291 closed

[2021-12-03 05:45] JTF4 commented on #274
I finally had time to sit down and isolate the tally protocol. Now that I have a firm grasp on how that works, I should be able to get a working module in the next two weeks.

[2021-12-03 09:55] alfiepates opened #293 "[Feature Request]: Tally device source follow router destination"
### What feature would you like to see added to TallyArbiter?

Hiya pals,

We're switching away from our vision mixer's multiviewer to a dedicated multiviewer head. The multiviewer is on the network listening to TSL5.1 from Tally Arbiter, and has a bunch of inputs hooked up to router destinations so we can route different sources to multiviewer windows without repatching.

Right now we're manually

[2021-12-03 11:59] JTF4 commented on #293
Hey @alfiepates!

What kind of router and multi viewer are you using?

[2021-12-03 15:19] josephdadams commented on #132
Closing due to inactivity. With v3.x, listener clients should be retaining their info better. Feel free to re open if you have more to contribute.

[2021-12-03 15:19] #132 closed

[2021-12-03 17:29] MatteoGheza commented on #23
@josephdadams @JTF4 I'm setting up a new source file so we can work on this.

[2021-12-03 17:30] JTF4 commented on #23
Sounds good.

[2021-12-03 17:54] MatteoGheza commented on #23
https://github.com/josephdadams/TallyArbiter/tree/device_livestreamstudio6

[2021-12-04 09:56] ruebyi opened #294 "[Bug]: M5StickC Listener - error when compiling"
### What happened?

I'm not able to compile the tallyarbiter-m5atom.ino in Arduino IDE.
I followed your guide - installed the board like it's shown on M5Stack and followed the other instructions in the readme.

### Version

2.0.13

### Distribution

Desktop

### OS

MacOS

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

M5 S

[2021-12-04 14:37] JTF4 commented on #294
Are you on Big Sur or Monaray?

[2021-12-04 14:38] ruebyi commented on #294
HighSierra

[2021-12-04 14:43] JTF4 commented on #294
Ok. After reading the stack grace, it looks like there are two definitions of green.

Where did you download the file from? This repo or the dedicated listener repo?

[2021-12-04 14:44] ruebyi commented on #294
From the repo here

[2021-12-04 15:17] josephdadams commented on #294
The one in this repo here is only going to work with TA 3.0, just fyi.

[2021-12-04 15:33] ruebyi commented on #294
Thank you! So I will wait to try it again, but the compiling error shouldn't happen anyway, correct?

[2021-12-05 11:00] Fischmaster3000 opened #295 "M5Stick Listener Client Web Interface"
Is it possible to leave the Web Interface running? It closes after time when connected to a WIFI, but then I have no chance to change the ssid :) Or is there another way for changing ssid and Tally Arbiter Host Adress without reflashing?

[2021-12-05 11:18] MatteoGheza commented on #295
Added in

[2021-12-05 11:20] MatteoGheza commented on #295
Now you can enable the web interface going to the settings page or pressing the reset button for 2 seconds and resetting the device.

[2021-12-05 11:23] MatteoGheza commented on #295
If you don't want to re-flash the device firmware only for this feature, you can trigger a settings reset pressing the reset button for two seconds.

[2021-12-05 13:45] Fischmaster3000 commented on #295
Amazing thank you. Will try it out in a bit :)

[2021-12-05 15:17] Fischmaster3000 commented on #295
flashed the new firmware onto my m5stickc+. starting web server with a 2 second press is working, but when i click on "setup" in the web interface it reboots:

[16:12:30]M5StickCPlus initializing...OK
[16:12:30]Tally Arbiter M5StickC+ Listener Client booting.
[16:12:30]Listener device name: m5StickC-216422893986196
[16:12:30]Reading preferences
[16:12:30]Connecting to SSID:
[16:12:30]*wm:[2] Added

[2021-12-05 18:29] josephdadams opened #297 "[Feature Request]: add separate m5stickc code from c+"
### What feature would you like to see added to TallyArbiter?

With the github compiled versions, we should either add a separate build for the c from the c plus or maybe add an option to the portal settings to choose which one they are using.

On that note, wondering if we could get away with a single m5 codebase and let the user configure in a portal what all they have, if GPIO should be enabled

[2021-12-05 20:22] kenm-4682 opened #298 "[Documentation]: Update URLs & filenames on Readme for Blink1 Listener"
### What happened?

Since the listener binaries have been moved to the main TallyArbiter repository and the filename of the listener .py has been changed, I believe the `wget` URLs and .py filenames in the install documentation need to be updated? With how they're currently written, it will still pull from the old unique listener repository.

**Under "[Installing Python Libraries and Script](https

[2021-12-05 20:28] josephdadams commented on #298
@kenm-4682 can you submit a PR for this?

[2021-12-06 05:13] kenm-4682 commented on #298
If I knew how to, I would! -- but I am a novice git user, and only found this issue out by trial and error. My apologies because I'd love to help more if I knew how to :)

[2021-12-07 05:58] AllenB264 opened #299 "Loading TA and get an error that config.json can't be found. I have npm and node.js installed"
Trying to get through the CLI interface loading TallyArbiter on a Raspberry Pi.  I have encountered  many difficulties, but I keep trying. I wish I could clone someone's success who will use an ATEM.  But my latest error is that the config.json file can't be found. Since I have npm and node.js installed, shouldn't a config.json be found as part of npm?

[2021-12-07 06:06] AllenB264 commented on #299
Thank you.  I have had the pleasure of speaking with Joseph several times.  I am trying to successfully install TA on a raspberry Pi 3B+ to work with my church's ATEM to drive camera tally lights.  I believe  TA is probably pretty straightforward, but I am not a Linux person so I learn as I go. I have gotten down to the Sources portion of the CLI interface. Now I am trying to solve the error -- no

[2021-12-07 06:06] #299 closed

[2021-12-07 08:49] mg-1999 commented on #299
Could you share how you fixed it? Hopefully other users can profit from it as well.

[2021-12-07 18:14] josephdadams commented on #299
Config JSON probably isn’t generated until a source or device is added but I don’t remember for sure

[2021-12-07 19:36] AllenB264 commented on #299
Thank you.  I'll precede on.

Allen

On 2021-12-07 10:14, Joseph Adams wrote:

Links:
------
[1]
https://github.com/josephdadams/TallyArbiter/issues/299#issuecomment-988159978
[2]
https://github.com/notifications/unsubscribe-auth/AQH27W37VB7CTKIX5PNEKSLUPZFJ5ANCNFSM5JQMS4UA
[3]
https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&amp;mt=8&amp;pt=524675
[4]
https://play.google.

[2021-12-07 19:48] AllenB264 commented on #299
I haven't fixed it.  I am ignoring it for now.  Allen

On 2021-12-07 00:49, Matthijs wrote:

Links:
------
[1]
https://github.com/josephdadams/TallyArbiter/issues/299#issuecomment-987701430
[2]
https://github.com/notifications/unsubscribe-auth/AQH27W37AW34XJIUR4RQROLUPXDCXANCNFSM5JQMS4UA
[3]
https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&amp;mt=8&amp;pt=524675
[4]
https:

[2021-12-08 17:34] alfiepates commented on #293
@JTF4 the router is a Blackmagic 40x40, and the MV head is a Decimator DMON sat on the network via a UDP to RS422 converter

[2021-12-10 09:09] antlear opened #303 "[Feature Request]: Visca over IP tally light"
### What feature would you like to see added to TallyArbiter?

There are more and more PTZ cameras now with tally lights on which use the visca over IP tally command. Is it possible to have this as and end point?
This would mean an BM ATEM or Ross Carbonite etc could send tally control to the ptz light on the camera.

[2021-12-10 10:50] mg-1999 commented on #303
**Additional information:**

See this [file](https://www.sony.net/Products/CameraSystem/CA/BRC_X400_SRG_X400/Technical_Document/E042100111.pdf) for a detailed documentation of the Sony visca protocol

[2021-12-10 13:01] josephdadams opened #304 "[Feature Request]: Let Sources auto create Devices"
### What feature would you like to see added to TallyArbiter?

Some sources like TSL3.1 send a name along with the address and tally info. We should let certain sources auto create Devices and Device Source mappings automatically. Maybe on first tally data received or something. It would be easy to do and would speed up Device setup. Then the user can just delete the ones they don’t want.

[2021-12-10 17:31] ErikGundersen commented on #304
I am sure this is just systematics, but to be clear:
I would not "Delete" the Device, I would suggest putting a Disable Flag on them, and then in the UI have an option to show Hidden Devices. This would make Re-Enabling them quick and easy.

[2021-12-10 18:15] JTF4 commented on #304
I like the disable and enable idea.

Just make sure that your disable is happening on the server end as well so the server is not using resources to handle disabled devices.

[2021-12-11 11:10] josephdadams commented on #304
I think Delete should stay as it is right now, where it is Delete. Otherwise you’ll have to modify the UI extensively to show the disabled ones, and add filtering to all the places that Device list is used. This is only a convenience feature. I would say a compromise would be to add a button that re adds the Devices that were deleted using the same original logic that was used to make them in the

[2021-12-11 11:13] josephdadams commented on #303
I suppose this could be done today using the outgoing tcp or udp device action. But I like the idea of the end user not needing to know how to use commands like this since not everyone is familiar or comfortable with command strings.

[2021-12-14 23:24] mg-1999 commented on #303
I see that @hrueger updated a visca library for node. Would that stable enough to use for this purpose?

[2021-12-15 00:52] josephdadams commented on #303
We should be able to easily send the tally command like how companion does it:

`String.fromCharCode(parseInt(cameraid)) +'\x01\x7E\x01\x0A\x00\x03\xFF';` for off

`String.fromCharCode(parseInt(cameraid)) +'\x01\x7E\x01\x0A\x00\x02\xFF';` for on

without the need for the whole library. Unless we want to do more with visca than tally.

[2021-12-15 11:30] hrueger commented on #303
I just fixed a few bugs ther which would cause the lib to crash. I'm still trying to get my hands on a Visca Camera. That means, I didn't test the lib at all.
I'd prefer @josephdadams's solution.

[2021-12-15 15:34] josephdadams commented on #303
It would be great to support both udp and tcp, letting the user decide. Kind of like how we do the outgoing tcp. Open socket, send, close/destroy.

[2021-12-16 17:20] Fischmaster3000 commented on #295
anyone already had time to look into it?

[2021-12-16 17:23] hrueger commented on #295
Sorry, I'm not an embedded guy at all and I don't have any of the M5 devices on hand. Maybe @MatteoGheza can help?

[2021-12-16 19:29] mattv8 opened #305 "[Bug]: New Listener Client API not properly receiving JSON object from client... I think..."
### What happened?

In updating my listener client to work with the new Listener Client API, I'm having trouble getting TA to receive my JSON object. I am able to establish the connection just fine, but TA doesn't pull in any of the JSON variables and uses defaults.

From my C# client, the SocketIO emit statement is pretty straightforward (paraphrasing my code for clarity):
[code]
Where `deviceObj

[2021-12-16 19:55] isaiahfranco opened #306 "[Bug] Error: bind EADDRINUSE 0.0.0.0:9800"
### What happened?

A bug happened!

### Version

2.0.16

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

Chrome

### If applicable, What Listener Clients are You Using?

_No response_

### TallyArbiter configuration

[code]

### Relevant log output

[code]

### Error stacktrace (if applicable)

[code]

[2021-12-17 03:50] josephdadams commented on #306
What else are you running on this machine that’s using port 9800? Can you just pick a different port?

[2021-12-17 16:23] isaiahfranco commented on #306
Turns out a restart of the computer fixed it. Imagine that!

[2021-12-17 18:27] #306 closed

[2021-12-20 20:39] hadphild opened #307 "[Feature Request]: REST CONFIG"
### What feature would you like to see added to TallyArbiter?

Reset Full Config. I have upgraded a few times and the Config corrupts on new versions.

[2021-12-20 20:58] hadphild commented on #304
How about a Node View? This could allow people to visualize from each switcher the path of the Tally.

[2021-12-20 21:02] hadphild opened #308 "[Feature Request]: Adding in approved devices"
### What feature would you like to see added to TallyArbiter?

Adding in approved Devices.

Profiles for Tally devices could be sponsored by the manufacturers or for them to write the code for their devices.

[2021-12-20 21:30] hadphild opened #309 "[Feature Request]: Merging Tally arbiter with into Companion"
### What feature would you like to see added to TallyArbiter?

 Merging Tally arbiter with into Companion

[2021-12-20 22:18] josephdadams commented on #309
Why would we want to do this?

[2021-12-20 22:20] josephdadams commented on #308
@hadphild can you explain this a little further? We have had some video switcher manufacturers reach out to us about adding specific support. But when you say “devices”, are you talking about Tally Arbiter Source Types?

[2021-12-20 22:20] josephdadams commented on #307
This is a good idea. A “reset all” type function.

[2021-12-21 01:11] JTF4 commented on #307
I like the idea.

That being said there's an overarching issue. Why does the config corrupt to begin with?

[2021-12-21 01:36] JTF4 commented on #309
Hello @hadphild!

Are you asking about merging the companion and Tally Arbiter projects?

I do not think this is a good idea.

Companion and TallyArbiter are two very different projects.

Companion is an open source shotbox software. It controls many things including tally arbiter. It's primary purpose is to control things in a user friendly way.

Tally Arbiter is an open source tally software. It

[2021-12-21 01:41] JTF4 commented on #304
I see what you're talking at out @josephdadams. It makes more sense to just delete the devices.

@hadphild can you elaborate on what you're talking about with a node view? Are you wanting what is essentially a flow chart for everything?

[2021-12-21 09:12] hadphild commented on #309
Sorry, this one is a crazy idea. I just want a RPI to build with Companion and TA as a Universal build.

[2021-12-21 09:24] hadphild commented on #308
More the devices for less technical people. IE Panasonic UE 150 and what TSL version that has and all the tally features in TA. This could apply to all Tally Devices.
IE if a PTZ is in a Techs preview to move can be Green or if there are other states.

[2021-12-21 09:42] hadphild commented on #304
A flow chart of connections for seeing how the Tally data is moving. If it going over a Cloud. Just a visual representation. I know this could be hard to program but would be amazing for the producer view.
![Tally Idea 001](https://user-images.githubusercontent.com/39920803/146907816-203b99d1-c76f-4dc8-bd6f-b0afc7550266.jpeg)

[2021-12-21 12:19] hadphild commented on #255
Have you got a Fix for this? I am running 3.0.1

[2021-12-21 12:23] mg-1999 commented on #309
Alternatively you can use the companion pi build, install npm and do 'npm i tallyarbiter' and still have both on one pi

[2021-12-21 13:31] NoahCallaway commented on #255
I don't think there's been a new package release since adding the option to enable/disable the sequence.
If you're able to build and run from the source code it should be there. Let me know how you get on as I don't have hardware to test with.

[2021-12-21 14:14] hadphild commented on #255
I am running on a Pi. If you can guide me in the write direction.

[2021-12-21 14:35] NoahCallaway commented on #255
Did you originally install using `npm install --global tallyarbiter`?
If so it might be best to wait until version 3.0.2 is released.

[2021-12-21 16:12] #309 closed

[2021-12-21 16:31] hadphild opened #310 "[Bug]: should have required property 'bus'"
### What happened?

Cannot save Config. Error is

should have required property 'bus'

Config is not valid

### Version

3.0.1

### Distribution

CLI

### OS

Linux

### What browsers are you seeing the problem on?

Firefox

### If applicable, What Listener Clients are You Using?

_No response_

### TallyArbiter configuration

[code]

### Relevant log output

_No response_

### Error stacktrace (i

[2021-12-21 16:31] josephdadams commented on #308
Device Actions as a part of a device profile. Makes sense. Would be a nice way to auto tally those things without the user having to specifically set it up.

[2021-12-21 16:33] josephdadams commented on #305
Wondering if you could run TA from source and console log what is being received. Maybe it’s not being parsed as an object for some reason.

[2021-12-21 16:35] josephdadams commented on #255
@MatteoGheza can we tag a 3.0.2 release?

[2021-12-21 16:36] josephdadams commented on #228
Can we close this? @MatteoGheza

[2021-12-21 17:11] #228 closed

[2021-12-21 17:11] #174 closed

[2021-12-21 17:50] #76 closed

[2021-12-21 21:53] josephdadams commented on #310
What were you trying to do?

[2021-12-21 22:48] hadphild commented on #310
click save config

[2021-12-23 22:01] alxbouchard opened #313 "[Bug]: tallyarbiter-m5atom.ino"
### What happened?

exit status 1
Error compiling for board M5Stack-ATOM.

### Version

Latest

### Distribution

Desktop

### OS

MacOS

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

M5 Stick

### TallyArbiter configuration

_No response_

### Relevant log output

[code]

### Error stacktrace (if applicable)

_No response

[2021-12-24 00:01] hadphild commented on #304
@josephdadams @JTF4 This could be done using something like https://github.com/retejs/rete

[2021-12-24 00:11] hadphild opened #314 "Pull Instance info from Companion"
### What feature would you like to see added to TallyArbiter?

Pull Instance info from Companion and Auto populate Tally arbiter.

ATEM and Cameras and there IP Addresses

[2021-12-24 04:46] JTF4 commented on #304
While I like the idea, I think a node editor could get out of control very fast.

When you start working with larger TSL sources like a Carbonite, you can easily have as many as 120 addresses coming from the switcher. I'm a node view that would be a massive amount of data to visualize all at once.

[2021-12-24 04:59] JTF4 commented on #314
I could see this working in theory, but I do see a few problems.

One would be that I don't think companion lets us access that granular of information. All of the modules are handled with an internal DB that has no documented external called.

Another would be who would actually use it? The only thing you would be able to pull would be the IP of the switcher. Other than that, you would have to do

[2021-12-24 05:15] JTF4 commented on #313
This seems to be an issue with the fastLED library. Are you running the right version of the library?

[2021-12-24 05:24] JTF4 commented on #310
Are you clicking save config in the new raw editor? If it will not save, that means that you've most likely mad a mistake when editing the config file.

[2021-12-24 08:44] hrueger commented on #304
Why don't we move that discussion into a separate issue / discussion as it has nothing to do with the original request: "Let Sources auto create Devices"?

[2021-12-24 15:21] josephdadams commented on #314
The latest version of TA supports mdns discovery of ATEM, so that's easy to find now.

I do think we could update the companion module for TA to auto create preset buttons that have each Device (camera), along with the feedbacks for that button. Then the user could just easily add actions to the buttons if needed, if they want to do XPTs etc.

I will add this as as new feature request. I'll add it

[2021-12-24 15:23] josephdadams opened #315 "[Feature Request]: Add Preset Buttons to Companion Module"
### What feature would you like to see added to TallyArbiter?

Once a user configs the companion module for TA with the server IP and the server is detected, have the module automatically create preset buttons for each device along with the appropriate feedbacks attached to show tally state. This way, a user can just drag and drop those buttons. We will need to add socketio events so that any time

[2021-12-24 15:55] JTF4 opened #316 "[Feture Request:] Node View"
How about a Node View? This could allow people to visualize from each switcher the path of the Tally.

_Originally posted by @hadphild in https://github.com/josephdadams/TallyArbiter/issues/304#issuecomment-998264290_

[2021-12-24 15:57] JTF4 commented on #315
Should be simple enough. If we add an event that emits a JSON object with all the device names and IDs we would be able to process that on the companion side of things.

[2021-12-24 16:01] JTF4 commented on #294
I am closing the issue due to inactivity. If the problems comes up again, feel free to reopen it .

[2021-12-24 16:01] JTF4 commented on #294
I am closing the issue due to inactivity. If the problems comes up again, feel free to reopen it .

[2021-12-24 23:06] josephdadams commented on #315
Actually, the module already gets a list of devices every time a new one is added; we just need to update the module to make and also rebuilt presets.

[2021-12-25 19:52] alxbouchard commented on #313
I'm using FastLED version 3.4.0 by  Daniel Garcia

[2021-12-25 21:16] JTF4 commented on #313
Also, completely forgot to ask, but which repo are you pulling the listener client from?

[2021-12-25 21:20] alxbouchard commented on #313
The latest:

JTF4 Merge pull request #312 from josephdadams/JTF4-patch-1
…
c3c88ba
3 days ago
Merge pull request #312 from josephdadams/JTF4-patch-1

[2021-12-25 21:26] alxbouchard commented on #313
It work using the pre-built version with esphome-flasher. Only bug I have with the pre-build is that the number displayed on the Atom change by itself after some times. If I select "1" on the Atom, It change to "2" after some times and so on. I,ve tested on 5 different Atom.

[2021-12-27 21:37] torchr commented on #288
@MatteoGheza I'm having the same problem, using the m5stickc-listener listener provided as part of the 2.0.16 version.
As the 3.0.0 and 3.0.1 server does not work on my Windows Laptop, I will try a listener downgrade. Can you be more specific on which commit for the listener you expect to work for the 2.0.16 server?

[2021-12-28 16:11] Cypris2010 opened #318 "[Bug]: OBS invisible sceneitems"
### What happened?

Don't know if this is a bug or it its itended to be:

TallyArbiter does not check for the visibility of the obs sceneitems. It seems to only check if something is in a scene.

### Version

3.01

### Distribution

Docker

### OS

Linux

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

_No response_

### Tal

[2021-12-28 17:33] MatteoGheza commented on #318
It's a bug, not a wanted feature, so I'm gonna fix it ASAP.

[2021-12-29 17:48] JTF4 opened #322 "[Bug]: Relay Listener does not hold a value and turns on and off rapidly"
### What happened?

When you put a camera in preview or program, the listener will make the relay turn on and off super fast so the light on the camera just strobes.

### Version

3.0.1

### Distribution

Desktop

### OS

Linux

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

_No response_

### TallyArbiter configuration

_N

[2021-12-29 18:32] josephdadams commented on #322
It gets their attention though, so I call that a win?

[2021-12-29 19:49] JTF4 commented on #322
Who needs relays that work anyway?

[2021-12-29 23:57] JTF4 commented on #322
#324

[2021-12-30 00:24] #322 closed

[2021-12-30 00:30] JTF4 opened #325 "[Bug]: Fix flashing on listener clients"
Need to fix the flashing problem on the following listener clients:

- [ ] Blink(1)
- [ ] Blinkt
- [ ] GPO

The problem is arising from the switch off function. I solved it by enabling tighter filtering on the process tally function.

[2021-12-30 21:38] abourget opened #328 "[Feature Request]: Support the ATEM via USB"
### What feature would you like to see added to TallyArbiter?

I noticed to add an ATEM, I need an IP address. But it seems I don't have such an IP when the ATEM is connected via the USB port.

Is it even possible to interact with the ATEM when connected via USB?

Thanks for everything!

[2021-12-30 22:40] MatteoGheza commented on #328
I'm sorry, I think this isn't possible right now.
The library we are using to interface with ATEMs, [atem-connection](https://www.npmjs.com/package/atem-connection), currently doesn't support USB, since it work differently then network comunication with Blackmagic ATEM.
@hrueger what do you think about this?

[2021-12-31 08:34] hrueger commented on #328
Yeah, you're right. I found a repo where @Julusian hast tried to connect to the ATEM via USB, but if you take a look at the readme https://github.com/Julusian/atem-usb-connection it has a lot of (probably unsolvable) problems like replacing the USB drivers on windows.
I don't think that's worth it.

Why don't you want to use the network connection? If you use any other listener client than the web

[2021-12-31 13:28] MatteoGheza opened #329 "[Feature Request]: Migrate v2.x.x config to v.3.x.x after update"
### What feature would you like to see added to TallyArbiter?

I think we should implement this before releasing v3.0.2 stable version.
If migrating the config is too difficult, I think we can just delete it and show a banner to the user before the update (adding it in release notes).

[2022-01-01 03:37] abourget commented on #328
It just means I need to have an RJ-45 port, which slightly complexifies the setup, but I agree it's only a slight inconvenience. The new macs have the ports back, but not Ethernet :)
Thanks for the answers, I hadn't found it while searching, so perhaps it can also serve as an answer to the next folks looking for the same thing :)

[2022-01-01 03:37] #328 closed

[2022-01-01 23:55] josephdadams opened #336 "[Feature Request]: add Companion-specific Device Action"
### What feature would you like to see added to TallyArbiter?

Rather than assuming the user should know the Companion HTTP, OSC, TCP, or UDP API, let’s create a Companion specific device action. It could be as simple as IP, Port, page, and button, or it could be cooler like you type in the IP and port and then a pop up loads where you can select the page and button similar to the Companion web in

[2022-01-02 00:20] MatteoGheza commented on #336
Working on it tomorrow

[2022-01-05 11:45] Haavard15 commented on #63
+1 on this

[2022-01-05 12:19] Hybrikon opened #340 "[Bug]: M5StickC doesn't appear under Connected Listeners"
### What happened?

I have 3 M5StickC, connected to the AP but I cannot see them in Tally Arbiter. The Log says "Connected to Tally arbiter Server" and DeviceId: unassigned.

Tally Arbiter Works on a MacMini M1

### Version

2.0.16

### Distribution

Desktop

### OS

MacOS

### What browsers are you seeing the problem on?

Chrome

### If applicable, What Listener Clients are You Using?

_No respon

[2022-01-06 22:26] mg-1999 commented on #340
Did you update to the latest version of TA? The current clients are only compatible with > 3.x.x

[2022-01-08 23:27] validlogin commented on #340
We seem to be having a similar issue on TA 3.0.1 and the M5Atom. We see a "Listener Client Connected. Type: m5Atom" in the log but nothing ever pops up under listener clients. On top of that, it doesn't seem like any tally information goes through to the M5Atoms. We have a green check mark and can select the #/ID, but tally never works.

Interestingly, we tried our other solution (using a m5atom a

[2022-01-11 22:29] wrldtvlr commented on #313
We've seen the camera number change as well. Not quite sure what is causing it as the increment should only be triggered by a button push on the M5 and most of ours are out of reach. It's a cosmetic problem but we'll continue to look at it. I think the long term solution would be to send the camera number from the server.

[2022-01-12 00:01] josephdadams commented on #313
I agree, we should remove the button push to change the number and send the number from the server. The number is basically the index order + 1.

[2022-01-17 16:16] #210 closed

[2022-01-19 17:56] JTF4 opened #354 "[Bug]: TSL3.1 Takes a Ton of Time to Process Data in >3.x"
### What happened?

When you use the TSL3.1 source type, something is causing tally data to be processed slowly and easily get backed up. Often times it will just stop working for a few seconds then send a all the tally data within a second.

### Version

3.0.1

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

_No response_

### If applicable, What List

[2022-01-22 04:08] IvorOrr commented on #255
I finally found time to deal with the topic again and test it. The protocol description is a bit strange, but with some trial and error I got it working. With @NoahCallaway's patch and some workarounds it should be usable.

As already mentioned, the packet start DLE/STX must not be used for TSL 5.0 over UDP.
Panasonic officially wants something special: text must be 12 characters long, but it seem

[2022-01-26 21:18] torstenwild commented on #340
We seem to have the same issue with TA 2.0.16 but also checked 3.0.1  with no difference.
The m5 atom matrix listeners runs together with another TA installation, but did not figure out whats the clue.

[2022-01-27 09:02] mg-1999 commented on #340
On what kind of system are you running the TA server? And what does the logger in the Arduino IDE spill out?

[2022-01-30 02:06] jamessandison opened #359 "[Bug]: Cannot login as admin with the default username/password on a new config file"
### What happened?

![image](https://user-images.githubusercontent.com/43879953/151683824-c7cfd709-15b7-4f3c-9e3d-894dfe31f57d.png)

Failed to login to admin or producer on a fresh install/config file.

Expected: Login successful with admin/12345 or producer/12345

### Version

3.0.1

### Distribution

Source

### OS

Windows

### What browsers are you seeing the problem on?

Chrome

### If applic

[2022-01-30 02:55] jamessandison commented on #359
@MatteoGheza I haven't had too much experience with jwt, but i'll have a look into it :)

[2022-01-30 07:19] MatteoGheza commented on #359
After running `git pull`, have you executed `npm i`?

[2022-01-30 08:23] jamessandison commented on #359
Interestingly I actually git cloned this on my fresh raspberry pi, and ran npm install and it all worked fine - maybe some sort of dependency issue or issue with windows?

[2022-01-30 13:14] DachsbauTV opened #360 "[Bug]: M5Atom Listener doesn't show up"
### What happened?

Hey TallyArbiter team,

After succesfully using M5StickCPlus as Tallys for a while now, we bought some M5Atoms now.

Unfortunately I just can't get them to show up in our TallyArbiter software, even though they connect to our Wifi and I can see them on my router and ping them.

On the Atom it shows the green check symbol and if I click on it, it will circle through cam numbers.

[2022-01-30 15:19] MatteoGheza commented on #359
Can you please add a `console.error(error);` in line 255 of `src/index.ts`, login again and post the logs here again?
![Code_-_Insiders_EGVfS53ZcP](https://user-images.githubusercontent.com/27729549/151705738-efb0e2e1-bc33-4813-bfb9-a5797f55d718.png)

I'll replace that simple try-catch with a better login error handler.

[2022-01-30 19:53] mg-1999 commented on #360
You are using the >3.0.0 client for the v2.0.16 server. Use [this](https://github.com/josephdadams/TallyArbiter-M5AtomMatrixListener)  version for connecting the atom to your server

[2022-01-31 09:42] DachsbauTV commented on #360
ahhhhhh I didn't see that there is a 3.0 rc out already. Sorry my bad!

[2022-01-31 09:42] #360 closed

[2022-01-31 09:46] DachsbauTV commented on #360
oh one more question: is the old M5Stick Listener Client compatible with 3.0?

[2022-01-31 14:51] josephdadams commented on #360
None of the old clients are compatible with 3.0 because of how we are now processing busses (pvw, pgm, auxes, etc.)

[2022-01-31 14:51] josephdadams commented on #354
Can confirm this is still happening. We get delays across the board because the tally data is not being processed fast enough for some reason

[2022-01-31 14:52] josephdadams commented on #354
Is only a problem in TA 3.0 or greater

[2022-01-31 16:25] Fred-DTV opened #361 "[Bug]: M5Atom Listener uses the wrong colours"
### What happened?

After successfully getting the Atom connected now to the TA 3.0.1 it works fine.

Just the colours are mixed up.

Preview is pink
Program is green

Additionaly in TA test mode turns blue after pvw and pgm.

I was looking through the code to find the problem, but with the new way the colours are calculated, it turned out to be too difficult for me. Sorry :/

P.S.: And the cam nu

[2022-01-31 17:26] DachsbauTV commented on #361
I've used the .ino from the master branch. Is there a newer version somewhere else?

[2022-01-31 17:41] Fred-DTV opened #362 "[Bug]: M5StickCPlus two issues with 3.0.1"
### What happened?

Just testing our M5StickCPlus with the current TA version 3.0.1

Several problems I found:

- static IP settings are gone
- LED_preview & LED_program don't work properly

I've set Tally_EXTRA_OUTPUT to true and tried several LOW/HIGH Settings for the LEDs but nothing seemed to work right.
Additionally I think that the first if statement should be "program"
`    #if TALLY_EXTRA_

[2022-01-31 19:34] mg-1999 commented on #361
Atom doesn't really render the default colors well. Try to change the default colors in the settings of the server

[2022-01-31 19:58] wrldtvlr commented on #361
Yes. Use FF00 0000 and 00FF 0000

On Mon, Jan 31, 2022, 13:35 Matthijs ***@***.***> wrote:

[2022-01-31 23:54] wrldtvlr commented on #361
Sorry - that should be the working version. There were two problems - the original 3.0 code used an incorrect color order (rgb). This was changed to grb in 3.01. The other problem was @mg-1999 mentioned - the default server color codes don't render very well in the Matrix. In the color picker, try changing the hex codes as suggested above.

[2022-02-01 14:07] josephdadams opened #363 "Remove references to contact me through blog"
### What feature would you like to see added to TallyArbiter?

We need to comb through the various repos and documentation and remove any encouragement to contact me directly through my blog. I'm not shutting down the blog nor am I walking away from this project - I just need people to be filing issues here and not emailing me so much where things cannot get tracked. I get several emails a week th

[2022-02-01 14:58] wrldtvlr commented on #363
You may want to make a quick pass through YouTube. There are references to tech ministry blog there as well. https://www.youtube.com/watch?v=msfAL631ARw

[2022-02-01 15:52] DachsbauTV commented on #361
Ok I will try that, but one more question: If I change the colours in the TA server, then my M5Stick's will have the wrong colour, right? So it isn't possible to use M5Stick and Atom at the same time?

[2022-02-01 17:13] hrueger commented on #361
Well, it should definitely be possible!
If you set the colors in the Server UI to bright / full green (#00ff00) and bright / full red (#ff0000) they should be displayed just fine on the hardware clients.
Apart from the RGB / GRB issue, every color should render fine in all clients, they just appear differently, because of the physical properties of an RGB LED. It will never look the same way it lo

[2022-02-03 02:05] The-Sizzler opened #364 "[Feature Request]: define what NIC card TallyArbiter uses"
### What feature would you like to see added to TallyArbiter?

Our computer (Mac) that will be running TallyArbiter has multiple NIC cards and we need to specify which one to use so it will recognize our Carbonite.

[2022-02-03 16:42] josephdadams commented on #364
With the carbonite, you're just opening a network port on your Mac and it's listening for data on that port. So I would think the NIC would not matter.

[2022-02-05 14:33] DachsbauTV commented on #361
Alright I am back with an update :)

Changing the colours in the server made the colours look nicer on the Atom as well as the M5Stick, however the colours on the Atom were still inverted.

So I changed this: (swopped r <> g)

// This order is to compensate for Matrix needing grb.
    int r = colorNumber >> 16;
    int g = colorNumber >> 8 & 0xFF;
    int b = colorNumber & 0xFF;

and now everythin

[2022-02-05 16:36] MatteoGheza commented on #287
Fixed in #358

[2022-02-05 16:36] #287 closed

[2022-02-07 21:41] JTF4 commented on #354
@MatteoGheza is there some synchronous process in the TSL 3 source type that could be holding everything up?

[2022-02-08 08:02] zalais opened #370 "Listeners don't show up in server"
Hi!
What could be the reason that M5AtomMatrix listeners don't show up in TallyArbiter server?
I have set correct server IP and port in listeners, server and listeners are connected using Mikrotik router with preconfigured settings.
Thank you for your help in advance!

[2022-02-08 08:13] zalais commented on #370
Cancel, I was using 2.0.16 version with newer listener image.
All fine!

[2022-02-08 08:13] #370 closed

[2022-02-08 18:00] mark-epstein opened #371 "[Bug]: /#/tally/deviceId and ?chat=false don't seem to do anything"
### What happened?

http://192.168.1.238:4455/tally?chat=false brings up the window to select a source. As soon as I do, the Chat window is there

http://192.168.1.238:4455/#/tally/e249d08b takes me to the TA Welcome! page

Chrome Version 97.0.4692.99 (Official Build) (64-bit)
Edge Version 98.0.1108.43 (Official build) (64-bit)

Note: TA works exactly as expected in every other way I have tried.
I

[2022-02-08 18:04] mark-epstein commented on #371
incidentally, `http://192.168.1.238:4455/#/tally/e249d08b?chat=false`
doesn't select a source nor disable the chat.

[2022-02-08 19:04] The-Sizzler commented on #354
This might be what is causing my problem on Mac that I posted about in the FB Group.

[2022-02-08 19:38] MatteoGheza commented on #371
![chrome_I1quwkVVj3](https://user-images.githubusercontent.com/27729549/153062606-fbf272f9-0f9c-45fc-9cda-bd1790238eb3.png)
I'm trying to reproduce the bug. It works on my machine.

[2022-02-08 19:43] MatteoGheza commented on #371
Is your Tally Arbiter server version "1.5.9"? Can you update Tally Arbiter to the last stable version ([2.0.16](https://github.com/josephdadams/TallyArbiter/releases/tag/v2.0.16)) and try again?

[2022-02-08 20:09] mark-epstein commented on #371
d'oh! I knew it was something stupid. In my defense I saw something somewhere (not the right place, of course) that suggested that 1.5.x was current.

[2022-02-08 20:46] MatteoGheza commented on #354
I'm sorry, IDK how that protocol works and I didn't work on TSL.ts.
I tried to use the NodeJS Profiler, but it don't work very well.

@hrueger can you take a look at this?

[2022-02-08 21:13] hrueger commented on #354
Yes, I can take a look at it. I just don't know when I'll have time for that as I'm currently in my last year of school - which means lots of tests and the finals are also arriving.

[2022-02-08 21:22] The-Sizzler commented on #354
Switching from TCP to UDP solved my issues.

[2022-02-08 21:29] JTF4 commented on #354
I've been working the TSL source today and I've seen that as well. Once I switch to the UDP type, the delay is greatly decreased. It looks like there's something in the TCP protocol that's slowing down tally decoding to a crawl.

There is still an issue with Ross carbonites where every now and then the carbonite will send two different tally statuses for preview that will cause the standard TSL so

[2022-02-08 21:46] JTF4 commented on #92
I revisited the carbonite source type and it looks like this issue was only half fixed. If you edit one or add a new one, the bus settings on that device will overwrite all the other devices.

The carbonite source type is also just broken in general. The moment you start specifying different MEs, the module's processing falls apart.

[2022-02-08 21:52] josephdadams commented on #92
Yes part of it is UI based - we need to present the user a list of bus options available to that specific source type when assigning the address. For example, address 1 on MiniME4, or Aux 5, etc.

[2022-02-08 21:53] #371 closed

[2022-02-08 21:57] JTF4 commented on #92
![image](https://user-images.githubusercontent.com/63563936/153082462-e38578ee-32aa-43a7-a021-6af70c4b2dfc.png)
This is what we currently have. It has the right options, but those options do not get communicated and saved properly.

[2022-02-08 22:38] josephdadams commented on #92
My mistake, I thought it was not implemented in the UI in v3.

[2022-02-10 23:54] Seth322 opened #372 "[Feature Request]: Only Program from a Source"
### What feature would you like to see added to TallyArbiter?

I would like to have the ability to only pull the program signal from a source, not the preview data.

My use case is that we have 2 ATEM switchers that a camera is connected to. For the first switcher, I want to see the full program and preview; whereas for the second switcher, I only want to see if it's on program - I don't want it t

[2022-02-11 00:05] Seth322 commented on #372
<img width="488" alt="image" src="https://user-images.githubusercontent.com/93688684/153517733-765c6e8a-20a4-4229-a2aa-ade3e3d6f2f2.png">
This is all of the current possible combinations; as you can see, none of them quite match the use case I'm going for.

[2022-02-11 08:37] mg-1999 commented on #363
The default reply on issues and pull request has a reference to the blog and should be removed

[2022-02-11 19:50] mark-epstein commented on #363
I for one LIKE the links to the blog. Once I realized how much quality @josephdadams puts into his work, I wanted to check out other projects whether or not I had a need for them.  And people might just want to send an encouraging word, I'd say the blog is an ideal place for that.

I'd suggest a big warning on the blog that says "this is not the place to report your tech support issues!" Then give

[2022-02-14 22:37] JTF4 commented on #363
What if we reword things then.

"To [report a bug](https://github.com/josephdadams/TallyArbiter/issues/new?assignees=JTF4&labels=bug&template=bug.yaml&title=%5BBug%5D%3A+) or open a [feature request](https://github.com/josephdadams/TallyArbiter/issues/new?assignees=JTF4&labels=feature&template=feature.yaml&title=%5BFeature+Request%5D%3A+), please do so on our [issues](https://github.com/josephdada

[2022-02-15 00:05] josephdadams commented on #315
This is done now in the latest companion builds.

[2022-02-15 00:18] MatteoGheza commented on #315
I think you can't belive me...
But I was working on this, and I was opening a PR when I saw the notification...
🤦‍♂️😂

My implementation supports presets for flashing listeners (by listener id or by device).
I'll open a PR in the next minutes.

[2022-02-15 00:27] josephdadams commented on #315
Haha! Sorry! I’ll merge it into core when you post it

[2022-02-15 13:24] josephdadams commented on #315
Merged yours

[2022-02-17 19:50] The-Sizzler commented on #361
Can you please share your .ino file? I'm having the same issue where Red isn't actually Red. And I can't seem to fix it following what you did.

[2022-02-17 21:16] The-Sizzler commented on #361
+1 for being able to change the brightness! :)

[2022-02-20 15:42] jeremiasmanninen opened #379 "[Bug]: Wont get tally from OBS."
### What happened?

OBS is connected but won't work as device sources. On the list, there are only recording/streaming addresses. When I try to manually add source/scene I get an unexpected error pop up. When my devise sources are unlinked, I can see preview and program indicators on the admin view coming from ATEM. OBS has the latest version as well as WebSocket. I have tested one 2 machines.

On

[2022-02-20 15:58] hrueger commented on #379
Hi @jeremiasmanninen,
I see that you're using Tally Arbiter v2.0.16. If you want, you can try out the beta of the new 3.0.1 version here: https://github.com/josephdadams/TallyArbiter/releases/tag/v3.0.1

Your issues should already be fixed there.

[2022-02-20 19:40] jeremiasmanninen commented on #379
I quickly tested the beta version 3.0.1 and seems that it can't even connect to OBS right now. 🤷 Any advice what would be wrong?

[2022-02-20 19:44] jeremiasmanninen commented on #379
Source is red but I can get a message from OBS Websocket what I normally get when connecting to websocket. I mean as desktop app notification like OBS.websocket.message etc.

[2022-02-21 00:04] mark-epstein opened #382 "[Bug]: comm problem between TA and Companion on Raspberry Pi"
### What happened?

I have TallyArbiter configured to switch pages on my Stream Deck based on which source of my ATEM is on the preview bus. It does this with a Generic TCP action of `PAGE-SET 2 CL29J1A00120`
9/10 times this works fine, and in Companion I will see a result in the log like this:
[code]
Some of those 9/10 times I will see a result that looks like this, but the page flip on the Strea

[2022-02-21 00:07] josephdadams commented on #382
Every "device action" is just fire and forget, there is no followup or feedback or waiting for a response. It just sends it and hopes for the best.

[2022-02-24 18:55] videojedi opened #387 "[Bug]: Safari on mac and iphone, no tally"
### What happened?

I've been chasing a problem for a couple of hours now. Any safari based client listener, would connect and see messages, and could 'flash' but would not see any tally colors. After a while, I tried Chrome, and it works... Is this a recent thing? I've tried three seperate devices, Mac, iphone and Ipad.... same issue on all three.

### Version

3.0.1

### Distribution

CLI

### O

[2022-02-25 19:31] The-Sizzler commented on #387
What version of TA are you running? It worked fine for me on mobile Safari in 2.0.16 and 3.0.1.

[2022-02-25 19:36] videojedi commented on #387
3.0.1.

And I’m sure it worked recently too. Has there been a recent safari change I wonder?

Sent from my iPhone

[2022-02-25 19:38] The-Sizzler commented on #387
I will check on Sunday and let you know if it still works for me.

[2022-02-26 16:34] Pirrao opened #391 "[Bug]: ATOM doesn't appear on listeners list"
### What happened?

ATOM Matrix doesn't appear on the connected devices list, the serial port from the ATOM says it is connected but it doesn't appear on the list and can't address any camera to de tally.

### Version

2.0.6

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

M5 Stick

[2022-02-26 16:39] hrueger commented on #391
Hi, what firmware are you using for the ATOM? The one from this repository? Then, it might only be compatible with Tally Arbiter version 3.

[2022-03-02 18:24] mattv8 commented on #305
Okay @josephdadams, I have had the most busy Dec - Feb with work I think I've ever had. Things are finally slowing down again so I'm getting back into this.

I had a chance to rebuild TA from source in a dev environment and add an extra line for debugging. TA is indeed receiving my JSON objects as well-formed, but it's still only recognizing it as the same device in TA's UI. Here's the output of T

[2022-03-02 20:38] mattv8 commented on #305
Okay I think I have been able to get it working. The issue is indeed with TA, for some reason the JSON isn't being parsed. I added a line of code within the `socket.on('listenerclient_connect', function(obj: ListenerClientConnect) { }` function to basically re-parse the JSON as it doesn't seem to be parsed the first go around. Would love to have someone take a look and see if there is a more elega

[2022-03-03 15:12] edbneutron commented on #340
Hi,
I am having the same issue...
M5 Atom and TA 2.0.16 on Windows 10.

I can access TA via webbrowser from android or ipad,
Serial log of the M5
---------------------------------
Connected to Tally Arbiter host: 192.168.8.12
deviceObj = {"deviceId": "unassigned", "listenerType": "m5Atom-615033257234764", "canBeReassigned": true, "canBeFlashed": true, "supportsChat": false }
DeviceId = unassigned

[2022-03-04 09:15] edbneutron commented on #288
I tried upgrading to the beta version of the server 3.0.1 on Windows 10. Unfortunately the application has an error and doesn't work...
How can i find out which version of the client runs with the server 2.0.16?

[2022-03-04 14:22] wrldtvlr commented on #288
@edbneutron The problem raised in this thread has been addressed and the thread closed. Please create a new thread with your problem.

[2022-03-05 12:44] oscardimanno opened #394 "[Bug]: Tally status doesn't reappear"
What happened?
While you having an active source (preview/program), and a tally displaying status, if you flash the tally, goes to black and you need to deactivate the source and turn again in that status

Version
3.0.1

Distribution
Windows

OS
Windows 10

What browsers are you seeing the problem on?
Tally Arbiter Windows Client

If applicable, What Listener Clients are You Using?
M5 ATOM MATRIX

[2022-03-12 19:04] Mo96M opened #395 "[Bug]: Blinkt listener not working"
### What happened?

I tried to install the Blinkt listener on a raspberry pi zero. When starting the code an error appears about the missing module "zeroconf"

### Version

3.0.1

### Distribution

CLI

### OS

Linux

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

Blinkt

### TallyArbiter configuration

_No response_

### R

[2022-03-12 20:01] JTF4 commented on #395
Try running `pip install zeroconf`

[2022-03-12 21:03] rgm607 opened #396 "[Bug]: esp32-neopixel-listener - installation - Preferences.h missing"
### What happened?

When installation the esp32-neopixel-listener over arduino IDE and do the instructions as described, the compiler will result in an error, because the
`#include <Preferences.h>` is missing (no such file or directory)

Where should we get that one

pre-build version wouldn't help me, because we are using APA102 leds, so we would need to adopt the code, but first we would like to

[2022-03-12 21:04] JTF4 commented on #396
Have you gone into the library manager and installed `preferences`?

[2022-03-13 09:31] rgm607 commented on #396
It wasn't mentioned, but i also can't find something like that in the libary manager!
![image](https://user-images.githubusercontent.com/101479515/158053437-656cb20e-9774-4f61-80df-2373200f9ccd.png)

[2022-03-13 15:54] JTF4 commented on #396
My mistake. The preferences file should be included with the Arduino IDE.

You may need to try reinstalling the Arduino software and see if that gets the file back. Worst case, you can grab it from GitHub and drop it in the libraries file for Arduino, but I would try reinstalling first.

[2022-03-13 15:55] JTF4 commented on #395
@Mo96M were you able to try that command?

[2022-03-13 16:34] Mo96M commented on #395
@JTF4 yes it worked kind of. Here is the command line output:

`pi@pitallyclient:~ $ sudo python3 pimoroni-blinkt-listener.py 192.168.0.19 4455
usage: pimoroni-blinkt-listener.py [-h] [--host HOST] [--port PORT]
                                   [--device-id DEVICE_ID] [--debug]
                                   [--disable-reassign] [--disable-flash]
                                   [--skip-bl

[2022-03-14 19:36] JTF4 commented on #394
Hey @oscardimanno, I'm not 100% sure what you are describing here. Is there any way you can explain it with a little more detail?

[2022-03-14 19:43] JTF4 commented on #387
I've confirmed that this is an issue.

The error shown is `window.navigator.vibrate`

[2022-03-14 20:30] JTF4 commented on #379
@jeremiasmanninen I did some testing and found out that the source type was not properly reporting it's connection status. I have fixed that in #397

[2022-03-14 20:39] hrueger commented on #387
We could use optional chaining (I think that's how it's called) (.?) when calling this function or test if it exists prior to calling it.

[2022-03-14 21:11] JTF4 commented on #395
I did some further research and it appears that I really need to update the docs on this one.

See if running `pip3 install zeroconf` helps at all.

[2022-03-14 21:50] JTF4 commented on #387
I'm down down with that. I'll add it tomorrow and see if it helps.

[2022-03-15 14:31] JTF4 commented on #387
Addressed in #399

[2022-03-15 14:43] JTF4 commented on #387
Should be fixed in the next V3 beta release later today

[2022-03-15 15:06] hrueger commented on #354
Thanks @JTF4 for your recent contributions. I'll be able to work on TA again in a couple months, just have to finish school now with all the finals ;-) but than I'll hopefully have more time for Open-Source work.

[2022-03-15 18:39] JTF4 commented on #391
@Pirrao I'm not 100% sure what you're asking about here. If your wanting a static IP on a M5Stick, you can download the ino file and follow the directions in it to configure a static IP.

[2022-03-15 18:40] #379 closed

[2022-03-17 16:41] wrldtvlr opened #401 "Wrong Password?"
Just attempted a CLI update to 3.0.2 on a Raspberry Pi 4. Update seemed to have gone fine, auto restart works, but when I attempt to login, I get a wrong password error.

The config json file had a long character strings for both the settings and producer passwords. I assume they were encrypted, but I tried changing them to 12345 per current docs to no avail.

Suggestions?

[2022-03-18 03:45] JTF4 commented on #396
@rgm607 have you made any progress with this?

[2022-03-18 03:46] JTF4 commented on #394
Ah. I see. I'll have a look at the listener client code and see if this can be fixed.

[2022-03-19 22:41] ben-bole opened #404 ""Manual" source?!"
Hey there,
I am currently planning a charity concert livestream, for which I need at least one tally light (via smartphone display)
TallyArbiter basically provides more than enough capabilities for what I need. Because I have a very uncommon video mixer (RGBlink mini+) with no expansion/ scripting/ TSL components.  I am searching for a "manual" source in TallyArbiter.
Is there maybe some way to im

[2022-03-20 01:10] josephdadams commented on #404
Tally Arbiter supports OSC, you could easily use this for triggering. @hrueger did we ever finish the manual test mode?

[2022-03-20 18:15] hrueger commented on #404
Hm, I don't think so. I can add that, because it would be quite a useful feature, but as I said in the other Issue, I won't be able to do this in the next two months.

[2022-03-20 18:16] hrueger commented on #404
@ben-bole You could use companion for this. You don't even need a StreamDeck as the web emulator should work just fine.

[2022-03-20 18:19] wrldtvlr commented on #401
We took a look at the code this morning to see if we could temporarily comment out the password check. While looking for that we noticed there has been a update to the code to use the bcrypt library - perhaps to store a hash of the password in config.json instead of the raw password. Didn't have enough time to dig further, but suspect this hasn't been fully tested.

[2022-03-21 05:06] JTF4 commented on #401
Hey @wrldtvlr! Would you mind uploading a copy of your config json?

We've been testing and using the new authentication system successfully for a while now with no issue.

[2022-03-21 05:09] JTF4 commented on #404
@ben-bole

Have a look at this documentation page. If you use the OSC calls you can manually trigger a tally device.

https://josephdadams.github.io/TallyArbiter/docs/usage/sections/sources

Like @hrueger said, you can easily use companion with the web emulator to send the OSC, or you can use any other method of sending OSC.

[2022-03-21 05:12] JTF4 commented on #382
@mark-epstein a more reliable way to do this would be a companion trigger. If you setup a trigger to watch the feedback for your source you want, you can then have that trigger change the page. That should be much more reliable as it doesn't rely on a TCP string with no error checking.

[2022-03-21 05:14] JTF4 commented on #362
Hey @DachsbauTV!

Have a look at the new listener client. We pushed an update that should fix those issues.

[2022-03-21 07:35] ben-bole commented on #404
That would be really useful!
In the meantime I am going to use Companion and send TSL calls from there 😇

[2022-03-21 07:36] #404 closed

[2022-03-21 15:51] hrueger commented on #401
Hi @wrldtvlr,
`null` or `12345` won't work because the password from the config file must always be a hash. When logging in, the password from the input field is [compared with the hash](https://github.com/josephdadams/TallyArbiter/blob/9e4f6c00714832ccf2cbe43103a63920b38a2d28/src/_helpers/auth.ts#L22).
You could try something like https://bcrypt-generator.com/ to generate a suitable hash and put

[2022-03-21 17:36] wrldtvlr commented on #401
Still not clear what is going on here. Generated a hash for 12345 at bcrypt-generator.com, pasted it in, rebooted. Accessing the settings page still results in "Wrong username or password!".

[2022-03-21 17:39] wrldtvlr commented on #401
Oh - How many rounds should I be using when generating the hash?

[2022-03-21 17:45] wrldtvlr commented on #401
Looked at the code linked above and thought the number of rounds might be 10. This resulted in the hash below, which did not work.

   "username": "admin",
   "password": "$2a$10$5c81Ep72a3PUK8qTRI.19uvVEJhosg2QLrGkVPpOg6vwWxtSANlW2",
   "roles": "admin"

[2022-03-21 23:06] MatteoGheza commented on #401
@wrldtvlr can you try running TA from the new branch fix_auth?
I'm sorry, I was very busy in these weeks, and I didn't tried the config migration a lot before merging...
There was a bug in the config migration system, so the JWT Private Key (required for JWT-based auth) was not generated, and the login function failed. Now every login error is logged into TA Logs.
It should work now.
I'm opening a

[2022-03-21 23:31] wrldtvlr commented on #401
I'll be in the booth tomorrow morning and give it a try!

[2022-03-21 23:32] wrldtvlr commented on #401
Is the 10 round hash I posted above correct?

[2022-03-22 06:05] MatteoGheza commented on #401
Yes, it is

[2022-03-22 06:52] hrueger commented on #401
As far as I know, more rounds just make the hash more secure - and as the comparison function does not need to know how many rounds were used when generating the hash, I'd say that any number of rounds should work.

[2022-03-22 07:34] MatteoGheza commented on #401
@hrueger can we detect if a string is a valid bcrypt-hashed string or just a string?
It would be awesome if TA detects plaintext password, hash them and save the config on startup.
Do you think it's possible?

[2022-03-22 11:56] hrueger commented on #401
I think that the generated hashes are always 60 chars (or 59 according to stackoverflow). Maybe we can just check if the length is different and if yes, treat it as a plaintext password?

[2022-03-22 12:56] wrldtvlr commented on #401
Sorry - my knowledge of npm is very limited. We're running TA using the CLI install process. I know how to update to a specific version using this syntax: npm update myPackage@2.0.0, but I don't know if it would be possible to designate a specific branch. i.e. fix_auth. Is this possible?

[2022-03-22 13:08] wrldtvlr commented on #401
Ahh... A little more research suggests I should be able to use this: npm install --g tallyarbiter#fix_auth

[2022-03-22 13:18] hrueger commented on #401
Never mind!

Unfortunately, `npm install --g tallyarbiter#fix_auth` won't work, because this branch is not published to npm. As we're using TypeScript and Angular, some build steps need to happen in order to generate a distributable form of TallyArbiter which is then published to npm.

To run this branch (in development mode), you need to follow the [instructions from the Readme](https://github.co

[2022-03-22 16:41] wrldtvlr commented on #401
Ok. Uninstalled the npm version, cloned the repo and set the fork. Angular takes forever to compile on a Pi...

[2022-03-23 16:51] wrldtvlr commented on #401
Just an update - let things run overnight and not surprisingly found an insufficient memory error when I came in this morning. Increased the memory allocation and restarted things. Will see if that makes any difference. I now remember why I chose the CLI install method previously. Getting the dev environment running on a Pi is not easy. I may need to wait until the auth fix is published before tes

[2022-03-23 22:23] The-Sizzler opened #406 "[Bug]:"
### What happened?

If TA ever quits and you reopen it, you will get a message saying "This computer's localhost name is already in use
<img width="422" alt="856c5c37-3cba-41bf-8a04-384232b84e3b" src="https://user-images.githubusercontent.com/97632367/159805982-e1a10092-5750-4794-8b08-a9ba4b2c2a55.png">
"

### Version

3.0.1

### Distribution

Desktop

### OS

MacOS

### What browsers are you seei

[2022-03-23 22:48] The-Sizzler commented on #406
This did not happen in 2.0.16

[2022-03-24 00:16] The-Sizzler opened #407 "[Feature Request]: Get KEY data (active or not) and use that info for tally"
### What feature would you like to see added to TallyArbiter?

Wondering if there is a way (with TSL) for TA to obtain data when keys go on and off. I would use that data to output a different color/image to my clients to let the camera ops know that there is a video/graphic that is overlaying their camera feed on stream.

[2022-03-24 00:27] JTF4 commented on #407
That's a feature we're working on currently. What kind of switcher are you using?

[2022-03-24 00:28] The-Sizzler commented on #407
Ross Carbonite Black Solo

[2022-03-24 02:01] wrldtvlr commented on #401
I wasn't able to get the dev environment for 3.0.2 auth fix installed, so I had to remove it and will reinstall 3.0.1 tomorrow. Will be glad to load it when a package is available.

[2022-03-24 10:06] jeremiasmanninen commented on #379
Great! Is there going to be the next release soon for desktop applications with this fix? Or how can I get these fixes to a desktop app?

I am new to compiling an app from a zip file.

[2022-03-24 17:02] Justlugonja opened #409 "[Bug]: Wrong colors on m5atom matrix"
### What happened?

Everything is working, but for some reason, the matrix shows red in preview and green in program. How can i fix this?

### Version

3.0.2

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

Chrome

### If applicable, What Listener Clients are You Using?

M5 Stick

### TallyArbiter configuration

[code]

### Relevant log output

[code]

[2022-03-24 17:03] Justlugonja commented on #409
On another note! If i set a local cameraa number by clicking the screen, it moves one integer the first time its triggered, meaning i have to set the display to "1" if i want it to stay on "2"

[2022-03-24 17:18] hrueger commented on #409
Could you please create a separate issue for that? This would be great

[2022-03-24 17:20] hrueger commented on #409
Although I'm not the hardware guy, for me that sounds like a RGB / GRB Issue. In the code (at about half of the file) you can see a few lines where we `compensate for Matrix needing grb`. Could you try switching `r` and `g`?

[2022-03-24 17:22] hrueger commented on #401
Never mind, I wouldn't have though that the Angular Compilation is that slow on a pi... May I ask which Pi version do you have?

Anyway, we'll test this change and release a new version as soon as one of us finds some time to do that ;-)

[2022-03-24 17:24] hrueger commented on #406
This might be due to the addition of the mdns library... Very strange...
A few questions:

Does that only happen on MacOS?
What MacOS Version do you run? Is it Intel or M1?
Is is reproducible?
Is TallyArbiter closed completely (with no background processes still running when you reopen it?

[2022-03-24 17:27] hrueger commented on #382
You could also try UDP instead of TCP. While TCP keeps the connection open, UDP just opens it, sends the data and closes it again. Looks like you have some problem with the TCP socket being closed (for example by a firewall...)

[2022-03-24 17:45] wrldtvlr commented on #409
In version 3, the program and preview color hex codes are sent from the server. Please confirm you have ff000000 and 00ff0000 in the setup configuration.

[2022-03-24 18:27] Justlugonja opened #410 "[Bug]: Camera numbers swap on AtomM5 Matrix"
### What happened?

When assigning numbers to a M5atom Matrix by clicking the led display, the set camera number increases by 1 when the first tallys are triggered.
So you have to set the camera number to 1 lower than your desired camera as a temporary workaround

### Version

3.0.2

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

Chrome

### If applic

[2022-03-24 18:34] Justlugonja commented on #409
Thanks for pointing me in the right direction!

The original config had this:
`  {
   "id": "e393251c",
   "label": "Preview",
   "type": "preview",
   "color": "#3fe481",
   "priority": 50
  },
  {
   "id": "334e4eda",
   "label": "Program",
   "type": "program",
   "color": "#ff002b",
   "priority": 200
  },`

Resulting in a pinkish color for preview, and a Green for Program

Now i swapped them

[2022-03-29 15:43] wrldtvlr commented on #401
OK, I'm at a complete loss here. I can't get TA (any version) to recognize the settings or producer password. With the latest CLI package running, the log says this:

2022-03-29 10:36:25] info: User admin (ip addr ::ffff:10.10.12.207) has attempted a login: wrong username or password.
[2022-03-29 10:36:46] info: User producer (ip addr ::ffff:10.10.12.207) has attempted a login: wrong username or p

[2022-03-29 15:47] hrueger commented on #401
What do you mean with `latest` v2?

[2022-03-29 15:53] wrldtvlr commented on #401
Yes. What you get when you do npm install -g tallyarbiter.

[2022-03-29 16:07] hrueger commented on #401
This should be 3.0.2
Unfortunately, I don't know what's going on there currently, but I also don't have time to release @MatteoGheza's fix... Sorry for that, its quite busy right now.

[2022-03-29 19:33] matiaspl opened #420 "[Bug]: vmix emulation not working"
### What happened?

No sign of vmix emulation listener port opened. After downgrading to v2 stable, clearing and recreating the config vmix emulation works fine (and of course the 8099 port is visible in netstat's output).

### Version

3.0.6

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are Yo

[2022-03-29 19:43] JTF4 commented on #420
Just to confirm, vmix is working after resetting the config?

If that's the case, it's because the V3 config file is not 100% backwards comparable with V2. It has more sections which can cause some issues when starting V2

[2022-03-29 23:54] josephdadams commented on #420
No I think he’s saying v2 it works, but not in v3 at all

[2022-03-30 23:11] The-Sizzler commented on #406
Haven't tested on Windows.
It happens on Big Sur (Intel) and Monterey (M1)
Yes, it is reproducible
I'm pretty sure it was closed completely.

[2022-03-31 19:36] wrldtvlr commented on #401
I'm at a loss as well. I just tried installing 3.0.1 over 3.0.2 (npm install --global tallyarbiter@3.0.1) as that version was working fine but get the same password error. I assume I'm doing something wrong with the hash, but I can't figure out what.

[2022-03-31 19:58] hrueger commented on #401
Are you editing the correct config file?
We once changed the path to where it's saved, but I don't remember if that was between 1 and 2 or between 2 and 3.

[2022-03-31 20:02] wrldtvlr commented on #401
That seems like the most likely. I've been editing ~/.local/share/tallyarbiter/config.json. Is there another location I should look for?

[2022-04-01 23:55] wrldtvlr commented on #401
OK - the details are a little fuzzy as I was working on this for several more hours this morning and the steps all blur together, but this is what I think I know as far as installing on a Raspberry Pi:

- Installing TA server on a Raspberry Pi using the developer option (i.e. compiling everything) is almost impossible given the limited memory and cpu.
- Installing using the CLI method is a bit tri

[2022-04-02 13:53] MatteoGheza commented on #401
Can you try to update to 3.0.3?

[2022-04-02 14:09] wrldtvlr commented on #401
Sure. I'll start by installing 3.0.3 on a clean Raspian image and try to minimize the use of sudo. On my list for Monday morning.

[2022-04-02 20:47] matiaspl commented on #420
That's correct. Clean install v3 - vmix clients don't work. Clean install v2 - vmix clients work fine.

[2022-04-03 22:04] josephdadams commented on #420
The overall feature stack is not drastically different in the two versions, so I would just recommend sticking with v2 for now until we can get that sorted out.

[2022-04-04 15:48] #401 closed

[2022-04-08 00:47] josephdadams commented on #395
@Mo96M did you get it working after following the instructions?

[2022-04-08 00:48] #359 closed

[2022-04-08 02:45] josephdadams opened #421 "[Bug]: BMD Devices being falsely detected as ATEMs"
### What happened?

We have several BMD devices detected via mdns that are not actually ATEMs:
![Screen Shot 2022-04-07 at 10 44 16 PM](https://user-images.githubusercontent.com/2559091/162352874-f1322b7c-720b-4979-96a8-673397ef11e3.png)

### Version

3.0.1

### Distribution

CLI

### OS

Linux

### What browsers are you seeing the problem on?

Chrome

### If applicable, What Listener Clients are

[2022-04-08 11:29] MatteoGheza commented on #421
@josephdadams can you run this snippet of code in NodeJS?
[code]

[2022-04-08 15:08] josephdadams commented on #421
[code]

None of these are ATEMs, I don't actually have any ATEMs on this particular VLAN where we run TA.

[2022-04-09 22:30] MatteoGheza commented on #421
I don't know why this happens.
We currently check if the txt "class" of the device is "AtemSwitcher".
I added a simple "if statement" in [#ccac10e](https://github.com/josephdadams/TallyArbiter/commit/ccac10eccb74245bb57e25873b413d28f9d285ff)

[2022-04-11 16:07] josephdadams opened #422 "Tally Data not correct in log"
https://github.com/josephdadams/TallyArbiter/blob/6416c84db58605606eeed4e47b60144b2f8fa25a/UI/src/app/_services/socket.service.ts#L166

@MatteoGheza this data only includes the source id and the busses so the logs show up like this:

[4/11/22 12:07 PM] Source: test Address: undefined Label: undefined PVW: False PGM: False

[2022-04-12 23:22] monkzzz commented on #409
I noticed in the code line 350

int backgroundColor = 0x10000 * r + 0x100 * g + b;

It is not swapping the colors from RGB to GRB .
It should be:

int backgroundColor = 0x10000 * g + 0x100 * r + b;

After this change, the colors are ok.

[2022-04-14 15:19] #409 closed

[2022-04-27 18:00] msberger opened #432 "[Bug]: gpo-listener cd41434 not clearing preview GPO"
### What happened?

gpo-listener cd41434 is not working properly.
it somehow is not clearing preview GPO if switched to a different preview.
preview gpo is only cleared if same group becomes program

### Version

TallyArbiter 3.0.3 / gpo-listener cd41434

### Distribution

CLI

### OS

Linux

### What browsers are you seeing the problem on?

Chrome

### If applicable, What Listener Clients are You

[2022-05-04 06:32] hrueger commented on #421
https://github.com/watson/bonjour/issues/53
This is probably the problem we're running into here. I can confirm that the bonjour lib also finds a BMD SmartView Duo here and returns it although we filter for the `AtemSwitcher` class.

I suggest replacing `bonjour` with another mdns library as `bonjour` hasn't been updated for more than 6 years?

[2022-05-04 14:49] hrueger commented on #421
I just found that we already have a PR open: https://github.com/josephdadams/TallyArbiter/pull/352 but we should switch to `bonjour-service` instead of `ciao` in my opionion.

[2022-05-04 22:21] josephdadams commented on #421
I agree

[2022-05-04 22:32] MatteoGheza commented on #421
I agree too

[2022-05-05 07:59] #318 closed

[2022-05-05 07:59] #422 closed

[2022-05-05 08:53] #421 closed

[2022-05-05 09:09] hrueger commented on #406
We could try to catch the SIGTERM Event (cli version) and the `app.("before-quit")` event (in Electron) and stop bonjour using `bonjour.unpublishAll()` as well as `bonjour.destroy()`.

Maybe that solves the issue? I just don't have a Mac right now to implement and test this.

[2022-05-05 15:25] #191 closed

[2022-05-05 22:32] MatteoGheza commented on #432
I'm really sorry. I was really busy these days.
I updated the listener in 4b87e25 and this bug should be fixed.
Currently, I tested this "logic fix" only in a simple dev env, I don't tried this with a real prod setup.
Can you try it @msberger? Thanks in advance.

[2022-05-06 19:26] msberger commented on #432
Thank you for the update.
I did a brief test in small setup and everything looks good.
I think this bug is fixed !
Markus

[2022-05-06 19:26] #432 closed

[2022-05-10 07:42] jumperger opened #440 "[Feature Request]: Client (listener) Name"
### What feature would you like to see added to TallyArbiter?

Hi,
wouldn't it be nice to have NAMEs for the Clients?

This way the producer could see which client is chationg with him.

Kind regards
jumperger

[2022-05-11 08:57] Smolinc commented on #420
I also confirm it does not work on version 3.0.3. I returned to version 2.0.16, everything works stably.

[2022-05-11 13:30] hrueger commented on #440
I think it would make sense to store it on the listener itself. And if we not limit it to the name, but instead allow generic key / value pairs, we have a lot of flexibility:
If we add an API to store key / value pairs on the listener clients, we could also implement things like overwriting bus colors for specific listeners or listener types.

That way, we could have the pale red / green for web l

[2022-05-11 16:33] hrueger opened #444 "[Bug]: CI Workflow always tries to upload installers to GitHub Releases"
I noticed that the CI Workflow which builds the Desktop App always tries to upload installers to GitHub Releases. If the release already exists (and is not a draft), it just silently [skips publishing](https://github.com/josephdadams/TallyArbiter/runs/6390355524?check_suite_focus=true#step:6:108).

However, this is a problem when bumping the version and committing to master and then creating a new

[2022-05-11 16:35] hrueger commented on #444
I believe this is a bug in the `electron-builder` action, can be fixed with
[code]

[2022-05-11 20:06] Cypris2010 commented on #340
I have the same Problem: The Serial monitor says the following
`rst:0x1 (POWERON_RESET),boot:0x13 (SPI_FAST_FLASH_BOOT)
configsip: 188777542, SPIWP:0xee
clk_drv:0x00,q_drv:0x00,d_drv:0x00,cs0_drv:0x00,hd_drv:0x00,wp_drv:0x00
mode:DIO, clock div:2
load:0x3fff0018,len:4
load:0x3fff001c,len:1044
load:0x40078000,len:8896
load:0x40080400,len:5828
entry 0x400806ac
M5Atom initializing...OK
Device code: 9

[2022-05-12 01:35] josephdadams commented on #440
Love it. And perhaps some listeners will need data others don’t so the flexibility is there. Disabled chat on a per client basis etc.

[2022-05-12 05:28] MatteoGheza commented on #224
Any TODO left?
I think we should focus on fixing the cloud connection and on testing the new auth system, so we can release v3 "stable beta" in the next days or weeks.
Speaking of auth system, if you think this system doesn't work well or it's "overkill" to use JWT and hashed password, we still have time to revert to the old one / improve this before the release.

[2022-05-12 06:53] hrueger commented on #224
Haha, yesterday I spent about an hour debugging because I thought there was a bug:
Sometimes I could login and sometimes it said "wrong password". I thought that some special navigation (like going to settings first, then refreshing and then going to producer) would trigger the bug.

However, it turned out that I was just typing to fast on my numbers block on the keyboard and sometimes typed 13245

[2022-05-12 18:23] evenover opened #446 "Raspberry pi GPI to Tally Arbiter"
### What feature would you like to see added to TallyArbiter?

I'm trying to make a script that will send a tally-signal to Tally arbiter when a GPI on my RPi4b is triggered. Last time i did this i used TSL with salvaged code from tally arbiter, but now it won't work. Is it possible for you to have a look. When it tries to connect to Tallyarbiter I get a error: econnrefused at tcpconnectwrap.after

[2022-05-14 08:37] hrueger commented on #446
Hi @evenover,
I think the easiest method is to use the OSC Source of Tally Arbiter. It will create an OSC Server and you can send messages to it with a OSC Client library.

Checkout the help of the OSC Source:
![grafik](https://user-images.githubusercontent.com/18656830/168418070-ed0a2269-f1e4-4fd0-afe1-e6992279de6f.png)

We're also working on an Incoming Webhook Source, so you could sent a HTTP R

[2022-05-14 08:39] hrueger commented on #224
Before finally releasing version 3 stable, we should either hide or implement the Incoming Webhook source. I prefer the latter, it shouldn't be that hard.

[2022-05-14 18:35] josephdadams commented on #446
I have created a GPIO to TSL program that can read the GPIO pins and send TSL 3.1 to TA. I have not published this yet but am considering it.

[2022-05-14 19:49] Cypris2010 commented on #394
The same happens on the Neopixel client. If I'd unnderstand the sequence of funktions I'd correct it my self.

[2022-05-15 10:52] Smolinc opened #448 "[Bug]: Not connecting to ATEM mixers"
### What happened?

Version 3.0.4. When adding a mixer it not connected, the memory overflows and the program closes.
On version 3.0.3 it connects without problems. But VMix Server does not work. Returned to 2.0.16 everything works.

### Version

3.0.4

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

Chrome

### If applicable, What Listener Clients are

[2022-05-15 11:07] Smolinc commented on #448
Try on MAC OS the same issue. Memory overflow if add Atem mixer.

[2022-05-15 11:20] hrueger commented on #448
Hi @Smolinc,

Thanks for the report, we can test this.

Can you clarify this? Can you see if vmix emulator is started (the port is being used)? The problem is that I don't have a vMix setup here to test this...

[2022-05-15 11:43] Smolinc commented on #448
No on version 3.0.4 Vmix emulator starts up normally. All my clients connected to emulator. I try 3.0.3 version and on it vmix emulator not work, but ATEM mixer connect normally.

[2022-05-22 21:37] mrfanny opened #449 "run an older version of TallyArbiter on my server"
### What feature would you like to see added to TallyArbiter?

Hello,

I would like to run version 2.0.16 on my server. When I start this version manually with the npm start command, everything runs fine. But when I follow [https://josephdadams.github.io/TallyArbiter/docs/installation/cli#running-as-a-service](https://josephdadams.github.io/TallyArbiter/docs/installation/cli#running-as-a-service),

[2022-05-22 23:25] JTF4 commented on #449
Go ahead and npm remove tallyarbiter.

Then try `npm install tallyarbiter@1.0.16 -g`

[2022-05-24 09:45] #449 closed

[2022-05-29 17:03] 3dprintedmac opened #450 "[Feature Request]: keep device from falling asleep"
### What feature would you like to see added to TallyArbiter?

I want this feature! I saw this available on a similarly tally program that was no longer maintained. Where there was something on the page that would allow you to designate to your phone not to fall asleep while the window was open. Not sure how this all works, but would be awesome to have integrated so our guys didn’t have to shut th

[2022-05-29 17:04] JTF4 commented on #450
That's a great idea!

Out of curiosity what was the other tally project called?

[2022-05-29 18:02] hrueger commented on #450
This is supposed to be working already: the implementation is [here](https://github.com/josephdadams/TallyArbiter/blob/df479457d8a3c56b4d8598030924a008510929ab/UI/src/app/_services/wake-lock.service.ts#L7) and it is started [here](https://github.com/josephdadams/TallyArbiter/blob/df479457d8a3c56b4d8598030924a008510929ab/UI/src/app/app.component.ts#L12)

What phone are you using? Maybe it's just an

[2022-05-31 00:10] josephdadams commented on #450
Just another reason we need a native TA iOS app :)

[2022-05-31 15:24] malot opened #452 "Tricaster PRV/PGM Problem"
Hello,

i've set up the TC1 with 4 Inputs and some kind of Wemos D1 (ESP8266) chips and WS2812 LED Stripe as tally lights. For the beginning i work only with program und red light. Until here everthing works right. When i only work with green lights for PRV everything also works fine.
If i try to use a combination of green light (PRV) and redlight (PGM) most of the things didn't work like expected

[2022-05-31 15:41] josephdadams commented on #452
Yes this is a known "issue" with using webhooks; it is sending one webhook for the pgm off and another for pvw on, and they arrive out of sequence so you don't always get an accurate state. It's not really fixable when using a webhook to send a command on multiple tally states; you would need to create a separate listener client to mitigate this issue. See #16

[2022-05-31 18:05] Restheap opened #453 "[Bug]: Atem supersource tally"
### What happened?

First of all, Thanks for a super handy tool!!

Not sure if it's a bug, but here we go:
If I put SS to program with my test-camera active in a box, the tally works as desired. How ever, if I change the source in that box to another input, the tally stays on (even if the tally indicator in the multiviewer suggest otherwise.
And the other way around: If i put SS to program without

[2022-06-01 12:08] josephdadams commented on #450
https://github.com/designshift/atem-tally-lite

And of course, @MatteoGheza has already worked with it 😂

https://github.com/MatteoGheza/TallyArbiter-AtemTallyLite-Bridge

[2022-06-08 04:25] BenJamesAndo commented on #268
Hi. I'm not the OP but I did test this and changing it to black works great. However if you have text displaying when not on program, then that disappears when it's showing preview/black. E.g. I'm using the M5Atom and have the camera number displayed. When live it goes red, when not live it shows the camera number, but when on preview the camera number disappears. I would think a better implementa

[2022-06-11 22:07] josephdadams opened #455 "[Feature Request]: mqtt support"
### What feature would you like to see added to TallyArbiter?

Would be cool if TA supported mqtt for data listening and control. Keeping up to date on sources, devices, and current tally data.

[2022-06-14 05:51] BenJamesAndo opened #456 "[Bug]: TypeError: Cannot read properties of undefined (reading 'includes')"
### What happened?

I'm running OBS with 2 M5 Atoms. On my home computer it ran perfectly with no errors. Now when I run it at work it has the following errors. I did figure out how to have it not through errors. I had to disable some macros in Advanced Scene Switcher, which are unique to the work computer. Below is a screenshot of one of the macros. If I only run 'Cam 1 Border' macro then it's fi

[2022-06-14 15:46] evenover opened #457 "[Bug]: TSL address 0 on device"
### What happened?

When trying to send TSL address 0 to a device tally arbiter does not send anything. When i add TSL address 0 as a action it does send it. Is there a bug with the code?

### Version

2.0.16

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

_No response_

### Tally

[2022-06-24 02:36] davekimi14 opened #459 "[Bug]: Possible wrong port with Panasonic HS-410 source type"
### What happened?

So trying to setup up the Panasonic HS-410. Had trouble connecting to it so I scanned it with some port scanning software, and I think it is port 60200 instead of 60020. Could you please take a look at this or make the port editable inside the software? Thank you

### Version

2.0.16

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

[2022-07-01 14:16] Keksstar opened #461 "[Feature Request]: Protally like indicators"
### What feature would you like to see added to TallyArbiter?

Would be nice, if an module can be build to work like Protally to show onscreen-tally on computers. Sadly Protally has large graphics bugs, so is unable to show borders.

[2022-07-01 23:40] josephdadams commented on #461
Yes, this would be great. I was thinking I had already added this as a feature request but can’t find it.

[2022-07-10 02:02] JTF4 commented on #461
That would be cool! It would probably be best implemented as a listener instead of a server in TA.

One thing that we could consider adding to the server would be the ability to open a embedded window that just shows the tally state.

[2022-07-10 02:06] josephdadams commented on #461
Yeah a listener client for sure.

[2022-07-18 18:53] Christoph111 opened #469 "[Bug]: Transition causes delay on M5 Atom Matrix Listeners when using transition instead of cut"
### What happened?

hi there,
i use an m5 atom matrix nearly succesfully, cut is working fine, but when using a transition (eg 1sec) switching back from program to preview is weird. the atom receives a lot of commands and tries to get it right, but it takes 3sec until the light is green again. switching from preview to program also is a lot of commands, but the light is immediately red at least.

[2022-07-18 18:57] Christoph111 opened #470 "[Bug]: no m5 atom matrix listeners found?"
### What happened?

hi, m5 atom matrix listeners work fine with 2.0.16 but they don´t appear in 3.0.4, in serial monitor the don´t receive a device_id.
any idea what has changed here and how to fix it?
Also i can click the atom to change the camera number, but this does not affect anything. Only changes made by TA show tally for the correct camera - but unfortunaley the atom camera number does not

[2022-07-19 03:30] josephdadams commented on #470
TA 3.x is only compatible with the new code for listener clients so you will have to update the atom to the latest code. Yes the number is just an aesthetic it doesn’t actually do anything at this time.

[2022-07-19 03:30] #470 closed

[2022-07-19 14:28] Christoph111 opened #471 "[Bug]: 3.0.4 does not recognize atem mini"
### What happened?

hi,

in 2.0.16 my atem mini is found by its IP. In 3.0.4 added manually it stays red (not connected), IP and everything double checked.
When i remember correctly there was also something like auto discover, did not see this at this time...
anyone else has this issue?
cheers

### Version

3.0.4

### Distribution

Desktop

### OS

MacOS

### What browsers are you seeing the probl

[2022-07-19 16:08] Christoph111 commented on #469
hi,
the tally arbiter log does not show anything weird, only that tally is switching from prv to pgm or something (can not check it right now), but really only one line in log (not 20+....)

[2022-07-26 03:18] commputethis opened #474 "[Bug]: M5StickCPlus Listener LED on/off Backwards"
### What happened?

After a lot of testing with the M5StickCPlus Listener and the M5Stack example for blinking LED, I found that LOW is on and HIGH is off, which is backwards from the M5StickC.

This code starts on line 618 of the m5stickc-listener ino file.
[code]

You will also notice I added an escape character and extra quotes on the actualType as that was required.  I am not sure if it is som

[2022-07-26 12:32] josephdadams commented on #474
Can you submit a PR for this?

[2022-07-26 12:42] commputethis commented on #474
yeah. I thought about that, but I will want to test it in my production environment first, vs just at home with the built in test mode, to verify the \" are needed outside of test mode.  Also, I will need to test with a M5StickC (not Plus) to verify it is still HIGH for on and LOW for off.  If it is, then we'll need to add separate lines of code to accommodate the difference.  I'm thinking maybe u

[2022-07-27 01:24] commputethis commented on #474
I was able to verify with both the M5StickC and M5StickCPlus that having the LOW and HIGH swapped works.  I will still need to test this at church where I have an ATEM source to test whether "program" should be "\"program\"" or  just "program" outside of using the built in test source.

I tried looking through the source code to see how the test system is sending the program, preview, aux, but I w

[2022-07-27 15:44] Mo96M commented on #446
Hi Joseph,

is there a chance to get the GPIO to TSL program? I have a show on september 2nd where i need to get tally data from a video matrix and i only supports gpi.

Kind regards

[2022-07-27 17:10] DachsbauTV opened #475 "[Bug]: Multi NIC PC can't connect to ATEM"
### What happened?

I ran into an issue with TA today.

We have a PC which we just installed 4 more NICs and ever since then TA can't connect to the ATEM anymore.
The other applications as companion or the ATEM software all connect fine, so I was wondering if it might be a problem that TA can't work with multi-NIC setups?

The NIC and the ATEM are both on static IPs

### Version

3.0.4

### Distri

[2022-07-28 13:15] josephdadams commented on #475
@DachsbauTV just to confirm - you did not upgrade TA in the process of adding more NICs - it was working with the original amount of NICs and then was not after you added?

[2022-07-28 13:36] DachsbauTV commented on #475
Correct. it was 3.0.4 before and after

[2022-07-28 13:40] josephdadams commented on #475
I would think that since with ATEM, TA is a client and the ATEM is a server, as long as the ATEM is reachable from the TA computer, it would work. Very strange.

[2022-07-28 13:41] josephdadams commented on #446
@Mo96M send me an email, my address is on my profile. Thanks!

[2022-08-03 13:01] haeleng opened #476 "Atem Constellation 2ME not working[Bug]:"
### What happened?

A bug happened! It looks like the Blackmagic Atem Constellation 2ME is not working.
I have added the Constellation to the sources and it colors green.
When I add a device like camera1 it can be added.
When I next do edit sources I can select Constellation as a source.
However the address field stays empty and there is no drop down list.
Switching on the Constellation 2ME does n

[2022-08-03 13:12] hrueger commented on #476
The ATEM Constellation 2 ME is so new that the version of the library we're using for connecting to the ATEM does not support it (yet).
I just saw that they updated it a few days ago: https://github.com/nrkno/sofie-atem-connection/blob/HEAD/CHANGELOG.md#300-2022-07-28

We probably just have to update the dependency, then it should hopefully work.

[2022-08-05 10:55] compgeek35610 opened #477 "[Feature Request]: More flexibility in multi-source arbitration logic/overriding busses"
### What feature would you like to see added to TallyArbiter?

At the moment, the linked/unlinked state options provide limited flexibility for scenarios where devices feed into a ‘sub mix’ and then on to a main switch, for example an ATEM camera switch before VMIX as an output.

My ideal behaviour would be as follows:
Camera in ATEM PVW, ATEM not in VMIX PGM = AUX 2
Camera in ATEM PVW, ATEM in VM

[2022-08-06 13:22] #395 closed

[2022-08-29 16:45] Fred-DTV opened #478 "[Bug]: TA 3.0.4 crashes with ATEM Extreme Iso"
### What happened?

Unfortunately the current TA Pre-Release does find my AEI automatically but as soon as i add it to the sources TA crashes.

Any idea what could cause this?
I've done a full reinstall already

### Version

3.0.4

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

_N

[2022-09-11 23:49] stefansnelgrove commented on #391
Having same issue

[2022-09-11 23:50] gohamstergo commented on #476
+1. any word if this fix will be in the next version?

[2022-09-17 15:08] ssenniug opened #481 "[Bug]: Message Back Log Raspberry Pi 4 4GB"
### What happened?

When using on Raspberry Pi 4 4Gb it seems to have trouble getting all packages out to the remote unit, so after just a few secound its start to slow down.

The raspberry is the model 4 with 4GB memmory, witht the last rapbian os and only Tallyarbiter on it.

### Version

3.0.4

### Distribution

CLI

### OS

Linux

### What browsers are you seeing the problem on?

Chrome

### I

[2022-09-17 18:55] JTF4 commented on #481
This is actually an issue with tally arbiter version 3. After running for more than a few seconds it hits something that's bottlenecking the network output.

I would recommend running version 2 until we figure out what's causing the issue.

[2022-09-17 19:00] ssenniug commented on #481
Im working on getting the Core2 M5 stick to work with the TallyArbitter, but then going to trye to make this happen for the version 2

[2022-09-25 00:36] commputethis commented on #474
PR submitted.  Sorry for the delay.

[2022-09-25 00:36] #474 closed

[2022-09-25 00:44] commputethis opened #484 "Device Name is not displaying on M5StickC [Bug]:"
### What happened?

Device name is not showing on the screen of the M5StickC, but it does on M5StickC Plus.  Everything else seems to be working fine.

### Version

3.0.1

### Distribution

Docker

### OS

Linux

### What browsers are you seeing the problem on?

_No response_

### If applicable, What Listener Clients are You Using?

M5 Stick

### TallyArbiter configuration

_No response_

### Rele

[2022-10-03 05:33] michaelpayne02 commented on #455
This definitely should be added. Most of my smart home runs through MQTT.

[2022-10-03 21:52] josephdadams commented on #455
You use tally arbiter in your house?

[2022-10-03 22:06] michaelpayne02 commented on #455
Haha no, I was just using it as an example of how widely used and ubiquitous MQTT is in the IOT world. However, I do actually run [Home Assistant](https://www.home-assistant.io/) in my studio to control permanent studio lights attached to smart switches. They communicate wirelessly via [Zigbee2MQTT](https://www.zigbee2mqtt.io/) and [Mosquitto](https://mosquitto.org/).

The main reason I'm asking f

[2022-10-09 05:27] gohamstergo commented on #476
is this something that an end user could do to get this to work in the meantime? if you could point me in the right direction, i might be able to figure it out.

[2022-10-13 03:10] JTF4 commented on #484
I'll have a look at the code and see if I can find the issue.

[2022-10-13 04:40] JTF4 commented on #484
@commputethis are you compiling the M5StickC code using the Arduino IDE? Or are you downloading and flashing the bin file to the device?

[2022-10-14 21:25] #363 closed

[2022-10-15 15:36] MatteoGheza commented on #222
@josephdadams I'm sorry to bother you on Saturday.
Can you add the topic again for the 2022 edition?
I have a few PR to submit and it would be great to have these counted as Hacktoberfest contributions, but if you don't want to do so in these days I'll submit PR anyway.

[2022-10-15 15:38] josephdadams commented on #222
added `hacktoberfest` topic

@JTF4

[2022-10-15 15:38] #222 closed

[2022-10-19 22:08] ondrejkulich opened #497 "How to set up Aquilon C?"
### What happened?

I have a question about setup Aquilon C as a source. I try Anolog Way Livecore and TLS but nothing works.  When I tried Analog Way Livecore in Live Premiera Simulator I saw some attempts for connection but still reboot. Some tips for this?

### Version

2.0.16

### Distribution

Desktop

### OS

Windows

### What browsers are you seeing the problem on?

_No response_

### If ap

[2022-10-22 13:53] abunight commented on #340
I have the same error, Atom and Stick-CPlus are connected in the logging but dont appear under listeners tab... Maybe I should enter some stuff in the ino to this:
String DeviceId = "00000001";
String DeviceName = "TallyStick-01";
String LastMessage = "";

?

Did someone find a sollution for this problem?

[2022-10-25 10:34] josephdadams opened #500 "[Feature Request]: Update electron to shut down TA on MacOS shutdown/restart"
### What feature would you like to see added to TallyArbiter?

A user has reported that when they shut down their Mac, TA prevents the shutdown process.

We should add a listener and shut it down.

https://stackoverflow.com/questions/51804259/how-to-prevent-electron-app-from-interrupting-macos-system-shutdown

[2022-10-27 21:49] MatteoGheza commented on #476
The library have been in #501 ([a2061ef](https://github.com/josephdadams/TallyArbiter/pull/501/commits/a2061ef1228b36e77ceb0b7c848db412185d12fb))

[2022-11-09 11:00] Smolinc opened #504 "[Bug]: Memory over flow when add Atem source."
### What happened?

Tally arbiter takes all memory and processor resources. If I add source Atem. It doesn't matter if the device is online or not!
Try on my windows machine the same issue.
![2022-11-09_20-46-29](https://user-images.githubusercontent.com/6467636/200811733-bbd75ad5-d852-4b17-bec0-d88abf17bdb0.png)

### Version

3.0.4

### Distribution

Source

### OS

MacOS

### What browsers are y

[2022-11-10 09:08] #504 closed

[2022-11-11 12:56] Jake-Innovate opened #509 "[Feature Request]: TSL 3.1 Serial Sources/Destinations"
### What feature would you like to see added to TallyArbiter?

Does TallyArbiter already, or if not, could it be able to integrate with older serial TSL devices (Old GV Vision mixers/CCUS etc...)?

[2022-11-11 22:04] josephdadams commented on #509
Not explicitly. Does your device have serial rs232 out, or is it GPIO pins?

[2022-11-11 22:05] josephdadams commented on #504
Was it user error? What was your resolution

[2022-11-15 11:35] Smolinc commented on #504
Looks like I had a version installed prior to this fix https://github.com/josephdadams/TallyArbiter/pull/501 ([a2061ef](https://github.com/josephdadams/TallyArbiter/pull/501/commits/a2061ef1228b36e77ceb0b7c848db412185d12fb)). Removed everything and reinstalled from source. now everything is stable. I continue testing.

[2022-11-18 11:22] MSP1978 commented on #295
Hi, the same problem here! Klick on SETUP reboot the M5.

[2022-11-19 01:32] RockNRollGeek commented on #484
I'n actually having the opposite problem - the latest downloadable bin of the m5stickc build works fine after flashing, but flashing the bin to the m5stickc plus seems to work in regards to the AP and connection, but the screen is just a garbled mess. redownloaded, reflashed, confirmed issue still existed on the plus but displays fine on the regular m5stickc.

[2022-11-19 11:55] MSP1978 commented on #478
The same here!

[2022-11-28 15:08] Kinderix opened #515 "ARM systems support"
### What feature would you like to see added to TallyArbiter?

I want this feature!

Is there anyway that in the future you will provide support for Windows 10 ARM?

[2022-11-28 15:15] hrueger commented on #515
Are you talking about the Desktop Version?
The npm package should also work on arm.

[2022-11-28 15:20] D4rkSoul67 commented on #515
I'm running Windows 10 on a Raspberry Pi 4 and the normal exe doesn't work until I realised it was x64.

[2022-11-28 15:22] hrueger commented on #515
Definitely interesting. I've never tried that.
We can probably build the Desktop App for arm. However, unfortunately, I currently don't have time to look into this.
If you want to contribute, feel free to do so 👍

[2022-11-28 19:48] josephdadams commented on #515
Yeah I'm sure Github actions can build whatever windows arm version is needed and include it in the tagged releases. You could also just install nodejs and run the project from source